[2016-08-21 11:15] necauqua commented on #4
Never tested it with optifine (i should have - optifine is like the most both popular and mod-breaking).
Investigating, thanks.

[2016-08-21 11:17] necauqua commented on #3
Thanks! :)
Looks like same as #4, investigating

[2016-08-21 15:21] WenXin20 commented on #3
Ok, thanks

[2016-08-21 17:12] necauqua commented on #5
Oh, i should've mentioned it more loudly (or add JEI tooltip).
You can get this thing by 'depleting' any of the recalibrators.
When you use them when your size is the same it wastes more charges, so this shouldn't be too much clicking.

[2016-08-21 18:39] necauqua commented on #6
Oh, this one is at least easy to fix, thanks!
(recipes with NBT, duh)

[2016-08-21 18:54] necauqua commented on #6
Hrmm, this shouln't be a thing, unless EnderIO replaces potion type of water bottle, which is stupid.

[2016-08-22 06:31] necauqua commented on #7
Ugh, i thought of it being feature-not-bug-because-you're-too-heavy, but too many people are saying this is a bug.
M'kay, m'kay, will be fixed :)

[2016-08-22 11:40] necauqua commented on #7
I know, i know, i will add something that will negate fall damage (and somewhere in tooltip it'll say 'useful when large, ur too heavy dude')

[2016-08-22 11:51] necauqua commented on #8
Welp, couln't foresee everything. Arrows are GIANT relative to you so they obviously collide with ground.
(try to shoot while fallitng at least from 2 block height).
Melee combat while big is new, i thought i fixed entity raycasting, will investigate.

[2016-08-22 12:29] Vexatos commented on #8
Maybe shoot tiny arrows?

[2016-08-22 14:44] necauqua commented on #8
If only there were a way to catch (from the code i mean) any entity that player 'shoots'.
I could hardcode vanilla arrows though, so it's at least fully vanilla-compatible

[2016-08-22 14:54] necauqua commented on #4
Progress: finally was able to reproduce. Only from real mod though, no such problem in dev. (coremods, meh :/)

[2016-08-22 15:45] Vexatos commented on #8
Maybe arrows in general, i.e. modify it in `ItemBow`?

[2016-08-22 16:28] necauqua commented on #8
Well, that's an option for bows. Not all of them but most of them, thanks for an idea :)

[2016-08-22 18:12] necauqua commented on #6
wait. wait. facepalm.

Pym Container is crafted with awkward potion, not water bottles :D
Please check again

[2016-08-23 12:36] MakerTim commented on #6
Still broken, even with akward..
guess its not enderio but other mod in my instance
http://puu.sh/qLpY1.jpg
http://pastebin.com/WptemqSG
maybe a other mod i cant think off...
i just changed the recipe with my 3th party crafting change mod, so my server can make them

[2016-08-27 16:35] necauqua commented on #11
Raytracing is everything that's related to selection boxes (at least advanced ones).
The issues you're having are related to mod authors assuming player size & height are normal (not supersmall or something).
So ALL of the issues will, sadly, never be fixed.
I'll try my best to increase mod compatibility and so on, but i dont promise to ever fix everything.
Please, don't expect everything to work

[2016-08-28 04:19] psychofad commented on #8
Would this also fix issues with firing arrows at normal size?  I have had to remove the mod for now due to it rendering every bow in my modpack nearly useless.  If I fire an arrow at something close (10m max) it seems to work most of the time, but try to snipe something far off and its like the arrow hits the air directly in front of the player and stops, if it fires at all.  This is with the vani

[2016-08-28 05:54] necauqua commented on #8
this totally must not happen when you're normal size, so ofc this is a bug which i need to find, thanks

[2016-08-28 17:05] MakerTim commented on #11
I understand, there will always be a mod broken by yours;

but the strange thing is;
when i reboot the server, 90% of the mods works, when someone did shrink / resize, mods like botania stop working with manaspreading & such

also sleeping breaks waila

i understand that many things you cant fix; but hope that you make support for as many as you can!

[2016-08-30 08:42] necauqua commented on #11
just stops working? like for everybody, or what? because thats really weird and should not happen =/

[2016-08-30 16:11] MakerTim commented on #11
after someone shrinks; globally the tracing of botania stops working
and sleeping (quark bed) breaks waila just for person that slept
(and server just reporting that i request data from a block i shouldnt be looking at, but that is just WARN and doesn't bother me)

[2016-08-30 17:04] MakerTim commented on #11
* also what broke are Blazes / Ghasts fireballs

[2016-10-29 22:34] necauqua commented on #13
Known issue, but thanks

[2016-11-10 19:13] TeamTaLWolf commented on #13
Ah man I really want to have the update so it works with Optifine, as I´m a big fan of shaders and for people with a bad computer playing my modpack, it would be great. Any estimate on when it´s fixed? I would like to release my modpack within 2-3 weeks, and Optifine would be great to have.

[2016-11-11 18:54] primetoxinz commented on #11
Can confirm this bug, projectiles of all kinds, The One Probe and many other raytracing stops working

[2016-11-14 13:20] necauqua commented on #11
Weeeeeeeeeeeeeeeeeeird

[2016-11-14 13:23] necauqua commented on #13
There is also seious issue with raytracing that i dont know how to fix, soo.. yeah
Also amadornes said he will make same mod without ASM for FC

[2016-11-27 17:48] necauqua commented on #14
Yeah, known issue, still don't know if i ever will update this mod at all (first year of university, duh, hostel, notebook) =/
Amadornes was about to make his version(with much less ASM and a bit less bugs), but i dont know exactly.

[2017-09-15 09:06] necauqua commented on #15
Looks like my mod is also incompatible with Mixin(or whatever mod which uses it to modify Entity class)

[2017-09-19 09:32] rich1051414 commented on #15
Yes, turned out to be Forge Essentials. Unfortunate.

[2019-02-16 00:28] SANOR9000 opened #1 "Game crashes"
Hi, so the only mods i have are Ice and Fire: Dragons in a whole new light!", "Mowzie's Mobs" and the library "LLibrary", and the forge version "1.10.2-forge1.10.2-12.18.3.2185 (the recomended version rn). Nothing bad with the 3 mods, but when i install this mod the game crashes, with this exit code. (js i just pasted it i did not edited anything)

<details>
<summary>the crash</summary>
<p>

[code

[2019-02-16 08:11] necauqua commented on #1
Hello, and thanks for your input.
I am right now in process of reworking and fixing the ASM (bytecode manipulation stuff) and also exactly this bug is most likely already fixed because I remember something like that.
Or maybe some of your other mods touch the same piece of bytecode, this is also a possibility.

Anyway, you'll have to wait (at least a week or two) for the update and then check agai

[2019-04-22 02:36] HateOnCheeseCake opened #2 "Moving while growing causes issues."
If you move during the growing animation there is a high chance you can be teleported into the void. Sometimes only a couple of hundred blocks into the void but other times extremely large into the negative.
![2019-04-22_04 30 08](https://user-images.githubusercontent.com/49850707/56479812-9601bd80-64b7-11e9-9f34-4d39ce617110.png)
No clue what causes it and I have no other mods active. Lastest ver

[2019-04-22 07:53] necauqua commented on #2
Received similar report on curse, I'll take a look, thanks for your input :)

Possibly my hackish bytecode injection into the 'move' (now it's called 'travel' btw, huh) method (making the game think you move normally, while actually you're moving more or less depending on the size) is broken because the method was changed a bit in 1.11

[2019-04-22 10:24] necauqua commented on #1
Well, I've updated the mod, you can test it now with the 1.1.0 version.

[2019-05-11 12:23] LaytonBaccea opened #3 "Scale at which distance mobs notice the player"
Hi Anton.
I have played your mod to test it for a while, and really look up to you getting the mod functioning as good as it can get.  I also love the new fixes you applied lately!! , keep up the tremendous work

But if it could be possible....   could you make the AIs on all Mobs and Monsters incabable of seeing the player when calibrated to a certain sizes?  (as in from 1/32 and down all the way

[2019-05-12 15:10] necauqua commented on #3
Yeah, I'll add that to the list

[2019-05-13 12:30] LaytonBaccea commented on #2
Strange.....  i have never experinced it....

[2019-05-13 16:18] necauqua commented on #2
Nah I'm experiencing it all the time when I'm big
Also when you're small and land onto ground there is a little bumping effect
Still trying to find how to fix that all btw

[2019-05-13 20:06] LaytonBaccea commented on #3
Sorry....  clicked on close issue by accident

[2019-05-14 10:56] LaytonBaccea opened #4 "Add keybinds to change size (if recalibrator is in the inventory or something)"
Program so you can change sizes by commands and keybinding from the registered list of binded keys in settings.

[2019-05-14 11:01] LaytonBaccea commented on #4
I really love science, that's why i'm looking forward to all of this :D 👍

[2019-05-14 11:19] LaytonBaccea opened #5 "Handy tools/advantages when small or big."
Like when you're small/tiny, you could glide through the air. Or a way to sit on Mobs's/Monster's/Player's shoulder  etc.

And when big, you can grab mobs/monsters/players with your hand and throw/place them.
Or destroy multiple blocks instead of 1 block at a time  etc.

[2019-05-14 11:29] LaytonBaccea opened #6 "Possible paths when small or tiny."
Be able to go through every possible little cracks (bboxes on blocks or something) when you are tiny or small, and perhaps even go under certain blocks when tiny (1/8  -  1/256)  etc.

EDIT: Changed ''(1/512  -  1/4096)'' to ''(1/8  -  1/256)'' .
And ''little cracks when''  to  ''little cracks (bboxes on blocks or something) when''

[2019-05-14 11:43] LaytonBaccea opened #7 "Autospawn Mobs and Monsters at certain sizes."
If it is possible (in a future update).

When you calibrate to 1/16 - 1/256, there are spawning certain mobs and monsters around you, which means there are no places to hide or something like that 🤔  .

EDIT: Changed ''calibrate to 1/512 - 1/4096'' to ''1/16 - 1/256''

[2019-05-14 12:01] LaytonBaccea opened #8 "You can't damage others when tiny or big."
When you are tiny versus normal other living things, or the other way around, you can't recieve damage when they step on you, or when you step on them - You just get pushed away.

[2019-05-14 12:07] LaytonBaccea opened #9 "Projectiles and damage glitches when tiny."
Idk if anyone else experinced it.
But when i calibrate myself to 1/1026 - 1/4096, my arrows/firecharges/projectiles glithces, from
vanilla and other mods.

And the same happens with melee damage.
When i'm tiny and monsters too, Monsters can damage me by the range
of 1-4 bits = I can't reach and kill them.

[2019-05-14 12:13] LaytonBaccea opened #10 "Scale the damage"
It would be awesome if you deal more damage when you're big vs. normal - small - tiny, or damage less when you're tiny vs. small - normal - big .  🤔

[2019-05-14 15:55] necauqua commented on #5
Definitely no sitting on shoulders, mobs/players bbox is just a box (heh), and implementing it all by myself is too much work and the result will not be really great.
For gliding i could perhaps just enable the effect as if you wore an elytra, but thats too much gliding, idk, I'll take a look.

Grabbing-throwing entities is a good idea although this will be hard too, enlargement was actually imple

[2019-05-14 15:57] necauqua commented on #4
There are commands `/getsizeof <entity>` and `/setsizeof <entity> [interpolation]` btw.
Keybind to activate certain recalibrator from the inventory is a great idea, added to the list.

[2019-05-14 16:00] necauqua commented on #6
The game is mostly responsible for that part - i did a couple of hacks like the nether portal and the bed, but overriding most blocks bboxes so that they are more precise - too much unthankful work.
Some mods are precise with their bboxes - for example Chisel&Bits, the main inspiration for this mod in the first place.

Also, what kind of cracks do you want from 16<sup>3</sup> pixels blocks exaclty

[2019-05-14 16:03] necauqua commented on #7
Do you mean vanilla mobs or custom micromobs?
Btw at these sizes mobs AI kinda breaks apart so idk.

And yeah, preferable sizes for which this mod was created and works best are 1-1/256, sizes below that are not that useful or good.
It was first developed for 1/16, at 1/256 it still mostly works, and at 1/4096 rendering begins to break apart (you can see little twitching of vertices) because of fl

[2019-05-14 16:04] necauqua commented on #8
Yeah, this one added to the list, but not at the highest priority.

[2019-05-14 16:06] necauqua commented on #9
Nothing I could really do with that - as you can see in my other answer, at these sizes floating point rounding errors and other various glitches begin to occur.
The 1/4096 size was made just for fun, the main puprose of this mod is 1/16 and everything still works mostly ok at 1/256

[2019-05-14 16:08] necauqua commented on #10
Yeah, but for being big thats too OP, and for small its like disabling damage at all.
And also minimum point of health is half-heart (maybe in the game its counted in floating point numbers, need to check) so what you deal when you're 1/16? zero?

Possibly I'll do a config similar to fall damage.

[2019-05-14 17:37] LaytonBaccea commented on #9
Aahh okay :D

[2019-05-14 17:38] LaytonBaccea commented on #8
Okay sounds great 😉

[2019-05-14 17:43] LaytonBaccea commented on #7
Well i mean both, but mainly vanilla mobs and monsters.  But it's still awesome if it could work at those sizes too!! 😄

[2019-05-14 17:55] LaytonBaccea commented on #10
Yes i see, that's op.  I thought of this: When you're calibrating yourself from 1/2 - 1/32,  you deal half a heart less by each stage? 🤔
Or when you calibrate to bigger sizes?...

[2019-05-14 18:01] LaytonBaccea commented on #6
I'm not such of a math fan 😅  .  And yes i tried going under a bed, which is great!! . Could you mention other mods than Chisel&bits (Which i am using with your mod) ?

[2019-05-14 18:06] LaytonBaccea commented on #5
Darn it....  could the shoulder thing be in a future update then?, at some time?.
And yes i see that it is mostly about being small or tiny.

Sounds great adding that future when you're big :D

[2019-05-14 18:11] #9 closed, assigned to nobody

[2019-05-15 18:01] HateOnCheeseCake commented on #10
Isn't this place for reporting issues...?

[2019-05-15 18:17] LaytonBaccea commented on #10
I was told that you can use it for future updates or discussions too

[2019-05-16 08:51] necauqua commented on #10
Feature requests are issues too and I am totally ok with that.
They are even great for being a todo list, I've seen people open issues on their own repos.

[2019-05-23 16:09] Salvation725 opened #11 "Cool idea! Bigger players can pick up smaller players and..."
Okay so it would be really cool if normal sized players could pick up smaller players and for big players to pick up normal sized players. Perhaps being able to place them down, throw them, or place them on your head or shoulder! This would be amazing!

[2019-05-23 16:25] LaytonBaccea commented on #6
Oh i just thought of one!! - Fences and gates, you still can't go through them when you're tiny or small

[2019-05-23 16:29] LaytonBaccea commented on #11
I agree with Anton. that you shouldn't be able to place or sit on others shoulders or
heads when you're tiny = too much work.  but perhaps in the future?! 🤔
The other two things - crabbing and throwing,  those would be great 😉

Edit:  Forgot to write ''place them down''  too. Added ''= too much work.  but perhaps
in the future?! 🤔'' @Salvation725

[2019-05-23 16:34] Salvation725 commented on #11
And placing down the player safely too hopefully so you don’t always kill them? 😅 right?

Also what i meant by the shoulder and head thing is that the player who picks you up presses a button to rest the smaller person on their shoulder and the smaller person can jump off anytime they want, its more of a traveling gimic for smaller players

[2019-05-24 05:57] Salvation725 commented on #11
@laytonbaccea theoretically you could just have someone mounted as a sitting or minecart position and then just attach it to an entity that rests on players hitboxes or something among those lines. Gulliver mod did it amazingly

[2019-05-24 17:01] LaytonBaccea commented on #11
Yeah i see your idea...   but it's Anton who's makin' it, so i don't know  😉

[2019-05-24 17:07] Salvation725 commented on #11
Anton clearly has the talent to do so with the features hes done so far, theres no doubt in my mind he can pull it off, its just a matter if he wants to or not. Either way I’ll still love the mod. Also he should add hotkeys for growing and shrinking! @laytonbaccea

[2019-05-24 17:14] necauqua commented on #11
Well it would be great if I at least made riding when you and the entity are of the same size
Different sizes - need to try it out
Also I spend on average like an 1-2 hours a week (well, in bursts of 4-8 once in a month) working on the mod, so yeah

[2019-05-24 17:15] necauqua commented on #6
Minecraft bboxes do not follow models exactly, as I've said.
I could do the same override as with the nether portal block, just for the fences and the fun, huh

[2019-05-24 17:41] LaytonBaccea commented on #11
@Salvation725 Yeah i asked him earlier, and he added it to the ''to-do list''  (keybinding for shrinking and growing)

[2019-05-24 17:51] Salvation725 commented on #11
Well thats a fantastic start for the riding! Also I want to thank you for putting in so much time and effort into this mod, you not only work hard on it, but you also pay attention to the criticism and ideas of your fans of the mod, so thank you for working so hard on my favorite mod! Good luck with everything!

[2019-05-24 17:52] Salvation725 commented on #11
@necauqua

[2019-06-10 12:44] LaytonBaccea opened #12 "News/questions/discussions."
If it's okay with Anton, we could discuss or ask him something in this tap?! 🤔

[2019-06-10 18:52] necauqua commented on #12
Well, the discussions are probably bit too much for the github issues (I was ok with requests and even questions, but not discussions).
So I've actually decided to make [my very own Discord server](https://discord.gg/pZrbJNb), huh

Also I am going through exams right now so do not expect me to make anything soon (you weren't already because I did nothing in like two months or so, haha).
And btw Tw

[2019-06-10 19:24] LaytonBaccea commented on #12
Fantastic idea 👍

[2019-06-12 22:27] #12 closed, assigned to nobody

[2019-06-20 06:07] thohag1243 opened #13 "The mod isnt up to date...."
i wanted to have the mod in the 1.12.2 version but the mod isnt up to date so i cant....

please fix

yours truly

ThohagYT#4351 (discord)

[2019-06-21 00:37] HateOnCheeseCake commented on #13
And this is an issue because?
The mod creator is currently (or planning) to work on the update, a reminder like this doesn't do much.
Just checking around the comments of the page would have shown that.

[2019-06-21 07:59] necauqua commented on #13
Closing as duplicate, heheh
But yeah, as I've said somewhere, I am planning to fix 1.11 and do at least 1.12 this summer

[2019-06-21 07:59] #13 closed, assigned to nobody

[2019-07-13 13:28] SonicJDF opened #14 "Commands/Gamerules"
I think at the moment there is some good commands but there could always be more!

Gamerule to set size of all newly spawned mobs to a certain size.

Command to change the current players size
Example:
1 - 0.2. *First time using command*
0.8 - 0.2 *Second time using command*
0.6 - 0.2 *Third time and so on*

[2019-07-13 16:02] LaytonBaccea commented on #14
Hhhmmm....  🤔   I have thought of this myself

[2019-07-13 17:09] SonicJDF commented on #14
That's cool that we have the same ideas. I can't wait till the 1.11.2 version is bug fixed and hopefully with new content.

[2019-07-14 13:29] necauqua commented on #14
ok so there is an absolute /setsizeof command and you want relative, got it.
Gamerule is a neat idea, added to the list too :)

[2019-07-14 13:34] necauqua opened #15 "Clipping distance is not multiplied in new versions"
Nobody made an issue about this yet so I do it myself to keep track of what is fixed or needs to be fixed.

Cloud renderer resets the z-near distance and when you small and look directly into a wall it does not redner.
Can be fixed if you disable clouds

[2019-07-14 13:39] LaytonBaccea commented on #15
Ohh... i haven't noticed that bug/glitch, else i would have mentioned it in here ;)

[2019-07-14 13:50] #15 closed, assigned to necauqua

[2019-07-27 08:29] AlbusSilente opened #16 "I can't use this Mod with OptiFine (1.10.2)"
I tried to use all OptiFine versions for 1.10.2, but none of these worked. Please, help me to solve this problem, because I need to use OptiFine!
Thanks,
AlbusSilente

p.s. All other Mods that I use are all 100% compatibles.

[2019-07-27 09:12] necauqua commented on #16
Well, I've said this before, but OptiFine just like this mod changes the rendering bytecode in some way somewhere.
So these two mods are obviously not compatible, I am sorry.

And yes, it is probably possible to work around and I will even try to do so in the future, but this is definitely not a priority right now.

[2019-07-27 09:13] necauqua commented on #16
Not closing this issue so that some day it will be fixed too, yeah

[2019-09-17 20:50] SonicJDF opened #17 "Growing creatures"
I don't know exactly what caused it but I'll try and explain what happened. I had a lan server and was playing with a friend, My friend left and I used the command /kill on myself which caused all mobs to instantly turn to there normal size. I tried to change there size back but I couldn't change there size at all. The next day when I did the world again there size was back to the small size.

[2019-09-18 09:21] necauqua commented on #17
De-sync of some sort(entity sizes were reset only on client, relogging would have fixed it), possibly already fixed because I did some rework on that stuff already

[2019-09-22 17:07] LaytonBaccea opened #18 "Unknown bug."
I don't know how it does it. Every time my friend (He was the host) tried to calibrate entitys (Minimize them), they move to the right corner of the map and goes through every single (They do not on the surfaces) block untill they die or despawn. The bug do go away when restarting the server

[2019-09-22 17:08] LaytonBaccea commented on #18
Idk how and what we did to make it happend

[2019-09-22 18:36] necauqua commented on #18
Yeah, I experienced it too a couple of times, dont know how to reproduce it either :)

[2019-09-22 19:17] LaytonBaccea commented on #18
Well, we hope that you can make this mod perfect in the end :D

[2019-09-24 22:43] SonicJDF commented on #18
Hey, if it helps it seems that the baby pigs go FASTER when smaller

[2019-10-15 11:47] buckted opened #19 "Giant mode bug"
Everytime i try to walk if i'm 2 size bigger, i get teleported up 10 blocks, and if it's 32 times bigger, i just get teleported like -6000 blocks and i'm starting to die.

Can someone help me?

[2019-10-15 11:48] buckted commented on #2
Happens to me too

[2019-10-15 11:50] buckted commented on #17
they're*

[2019-10-15 17:50] LaytonBaccea commented on #19
I dont know that bug 🤔  i have never encountered it. Perhaps Anton can fix it

[2019-10-15 21:38] necauqua commented on #19
duplicate of #2

[2019-10-15 21:38] #19 closed, assigned to nobody

[2019-10-15 21:40] necauqua commented on #17
srsly?

But also a little update - I redid/fixed some of the networking so this really might be fixed

[2019-12-01 23:21] necauqua commented on #1
Closing because: not enough info, old code bug, no further input

[2019-12-01 23:21] #1 closed, assigned to nobody

[2019-12-01 23:24] #2 closed, assigned to necauqua

[2019-12-01 23:24] #17 closed, assigned to nobody

[2019-12-14 09:15] LeahSupreme opened #20 "Config option to use size changing items on players."
Yeah I think it would be really fun being able to shrink and grow other players (Not by default though)

[2019-12-16 02:15] necauqua commented on #20
Yeah this was amongst the first things I've thought of.
Idk, maybe I'll add a config option, yes

[2019-12-16 16:52] wenjie198 opened #21 "Crash with Malisis door"
When you use the mod with Malisis it wont start

[2019-12-16 17:51] brisingraerowing opened #22 "Crash during ASM transformations"
[Game Log](https://gist.github.com/BrisingrAerowing/6cb4237df379b98a39e5f8499c8cb48d)

This caused a hang on startup.

v2.0.0.1

[2019-12-17 12:35] necauqua commented on #22
Well, that is a lot of mods.

I would be super grateful if you pinpointed which one of them causes the issue.
You can use binary search - remove half of the mods and if does not crash then conflicting mod is in the removed half and vise versa, repeat until least possible conflicting set is found.

I will be revising mod compatibility issues, but this is a coremod and it can always clash with other

[2019-12-17 12:36] necauqua commented on #21
You found the exact mod, this is great and I am already able to test it, but please provide crash logs or game logs in the future

Added the mod to the list of mods to check compatibility issues with

[2019-12-17 12:54] necauqua commented on #14
Welp, this is a two-part issue (don't do that, open two separate ones) and one part is done - the server command is now much more useful

[2019-12-17 14:50] brisingraerowing commented on #22
I'll take a look.

[2019-12-17 16:10] LaytonBaccea commented on #22
I have the same issue.
When me and my friends try to add this mod to our big modpack, it crashes instantly.
We have tried different versions of the same version for mc (1.12.2)

[2019-12-17 18:55] brisingraerowing commented on #22
@LaytonBaccea What's your mod list? I can find the intersection of it and my mod list and narrow down possible culprits.

[2019-12-20 23:59] Devarious0 opened #23 "When I try to use this mod with mod Optifine 1.12.2, the game crashes."
When I try to use this mod with mod Optifine 1.12.2, the game does not start.

**Additional information:**
- crashlog file or gist:
- `fml-latest.log` file: *highly recommended to provide*
[2019-12-20-4.log](https://github.com/necauqua/chiseled-me/files/3990809/2019-12-20-4.log)

[2019-12-21 13:27] necauqua commented on #23
First, you use the 2.0.0.0 version which crashes by itself, you need to use 2.0.0.1

Second, interesting enough, in the log you sent it crashes because of Optifine itself somehow, does that work for you without my mod?

And third, yes, this mod was known to never work with Optifine since the beginning, and Optifine is already the first in the list of mods to be checked for mod compat issues.

Than

[2019-12-21 13:27] #23 closed, assigned to necauqua

[2019-12-23 13:33] UpsideDownFoxxo opened #24 "Chiseled me crash"
[latest.log](https://github.com/necauqua/chiseled-me/files/3995120/latest.log)

[2019-12-26 11:47] necauqua commented on #24
You have OptiFine installed, which is (for now) not compatible with Chiseled Me
And it is the first one in the list of mods to be checked for compatibility issues

Closing this as another duplicate of #16

[2019-12-26 11:47] #24 closed, assigned to necauqua

[2020-01-06 03:26] RyTEM05 opened #25 "Crash report for mod in 1.12.2 (without optifine)"
Recently the mod has not worked in version 1.12.2, I use it with the chisel and bits mod (Which is also 1.12.2)
The game starts as usual, for about 10 seconds at least. and then this error message pops up
The game crashed whilst initializing game
Error: java.lang.NoClassDefFoundError: net/minecraftforge/common/IRarity
I tried using other versions on 1.12.2 and it would say the same error again.
Th

[2020-01-06 05:09] LorenzoPapi commented on #25
Have you tried the latest version of forge 1.12.2? And can you say
which forge version/s you used?

[2020-01-06 09:35] RyTEM05 commented on #25
Yes I have used the latest version and here are the versions I used to see if it worked:
1.12.2-forge1.12.2-14.23.5.2838 (latest)
1.12.2-forge1.12.2-14.23.2.2611
1.12.2-forge1.12.2-14.23.5.2768
1.12.2-forge1.12.2-14.23.5.2810
I hope this somehow helps!

[2020-01-06 09:39] LorenzoPapi commented on #25
Latest version isn't forge 1.12.2-forge1.12.2-14.23.5.2838;
it's 1.12.2-forge1.12.2-14.23.5.2847

[2020-01-06 09:39] LorenzoPapi commented on #25
Try it

[2020-01-07 00:31] RyTEM05 commented on #25
i just tried using the latest one and it came up with a different error message
The game crashed whilst initializing game
Error: java.lang.NoClassDefFoundError: net/minecraft/client/renderer/EntityRenderer

[2020-01-07 00:33] RyTEM05 commented on #25
wait nvm i used a previous version of the mod i just used the latest version and now it works! Thank you so much!

[2020-01-07 00:33] #25 closed, assigned to necauqua

[2020-01-07 03:30] matthias7890 opened #26 "Crash report plz help"
When I try to use chiseled me with 1.12.2 and then pressing play it says forge is loading some mods and then the game crashes.

i think its just chiseled me mod here take a look at the crash report..
---- Minecraft Crash Report ----

WARNING: coremods are present:
  Chiseled Me ASM (chiseled-me-1.12.2-2.0.0.1.jar)
Contact their authors BEFORE contacting forge

// Don't be sad. I'll do better next

[2020-01-07 03:46] matthias7890 commented on #26
nevermind

[2020-01-12 00:55] AlaraBread opened #27 "Break speed should scale with the square of your size, not your size"
I think that the players break speed does not scale fast enough.

Currently, digging tunnels while large is horrendously slow, and digging tunnels while small is too fast.

In other words, instead of making the break speed o(n), make it o(n^2)

[2020-01-12 01:04] AlaraBread opened #28 "Antipolarized Concentrated Pym Essence Recipe."
The antipolarized concentrated pym essence recipe takes effect whenever two items that are not already a recipe are placed into a crafting bench.

Steps to reproduce the behavior:
1. Open a crafting bench
2. Place two items into it in a way that should not craft anything.
3. Antipolarized Concentrated Pym Essence will appear in the output slot

Expected behavior
Nothing will be in the output slot

[2020-01-12 01:20] AlaraBread opened #29 "The player's mass should scale with size"
Currently, the player gets pushed around by mobs on the ground as though he were the same mass as when he was a normal size.

This is extremely annoying when walking long distances.

This is less noticeable when small, although I think that the player should get pushed more when small.

Your mod does make several mentions to marvel's ant-man, If this is what you are trying to create, consider this

[2020-01-15 14:23] necauqua commented on #25
Yep, that first issue was because of old Forge version
Will be fixed anyway in the next version.

[2020-01-15 14:25] necauqua commented on #26
Well you can close the issue if it was opened by a mistake.

However, all of the transformer crashes and especially ones related to mod compat have the highest priority to be fixed in the future.

[2020-01-15 14:25] #26 closed, assigned to necauqua

[2020-01-15 14:26] necauqua commented on #27
Really?
Well I'll look into that (actually physically makes sense to make it cubic because you dig a volume), but we're not really looking into realism as much as we are into comfort gameplay

[2020-01-15 14:28] necauqua commented on #28
Whow, yes, I once heard about this but never checked.
Thanks for the detailed report, will be fixed asap

[2020-01-15 14:32] necauqua commented on #29
Well yeah, I regret the whole pym stuff, since I wanted to have just a shrinking mod and not an ant-man mod (there are one or two of those).

I will add the multiplier though in next version(s), as this looks like something that should be there for me.

p.s.
but Hank Pym carries a whole tank as his keychain, hey

[2020-01-17 03:54] dagobertdu94 opened #30 "Coremod can't patch or whatever with class"
Your coremod Chiseled Me prevents minecraft from starting, I never get the mod loading screen so I need to stop it via task manager. My latest log file is attached to this report and I have no fml-client-latest.log, because I haven't found it.
I am using the latest version of Forge and the latest version of your coremod.

[2020-01-17-3.log](https://github.com/necauqua/chiseled-me/files/4074955/202

[2020-01-17 23:05] necauqua commented on #30
You seem to have other coremods and some of them possibly conflict with the mod
Also it might crash just for you for unknown reasons, because there is some weird bytecode instabilities in the current version.
It is being worked on, so next versions could be better (or worse).

If you don't mind, you can try to find which exact mod causes the conflict and send it here to be added to my list of mods

[2020-01-18 22:53] Pie-Not-Lie opened #31 "iChun Util. Conflict"
Couldn't find the fml-latest.log, but here's the crash log file. Game crashes on loading screen.
[debug.log](https://github.com/necauqua/chiseled-me/files/4081971/debug.log)

[2020-01-18 22:54] Pie-Not-Lie opened #32 "Quark Conflict"
Couldn't find the fml-latest.log, but here's the crash log file. Game crashes on loading screen.
[debug.log](https://github.com/necauqua/chiseled-me/files/4081978/debug.log)

[2020-01-19 10:40] necauqua commented on #31
Yeah looks like fml-latest.log was renamed to debug.log, the content is exactly what I need.

iChunUtil is already like at the top of the mods to check mod compat, still thanks for reporting though.

Maybe I'll do something to make that list public or something (like a new issue template I guess)

[2020-01-19 10:40] necauqua commented on #32
Added to the list, thanks.

[2020-01-19 10:42] necauqua commented on #31
not sure if the exact duplicate exists, will recheck all the crash issues when making the template and stuff

[2020-01-23 10:36] LaytonBaccea opened #33 "Particles and Effects"
Is it a stupid idea with this possible feature?:  Can become immune to any effects when calibrated to atom size. 🤔
I thought of it when i played with MutedGalaxy on my server, we tried different sizes with monsters and tried to shoot arrows and throw bottles with effects at them and ourselfs...

[2020-01-23 20:42] necauqua commented on #33
idk, will take a look

this is pretty easy todo so I may add this and make it configurable

[2020-03-08 12:03] savvymarcom opened #34 "Game Crash even with all other mods removed"
I started to remove mods to find which one was causing the issue, but then when all mods were removed the game still crashed.

Crash log attached
[crash-2020-03-08_11.56.24-client.txt](https://github.com/necauqua/chiseled-me/files/4303153/crash-2020-03-08_11.56.24-client.txt)

[2020-03-09 14:47] necauqua commented on #34
This is caused by an old Forge version, you can update it to fix that

[2020-03-09 14:47] #34 closed, assigned to necauqua

[2020-03-24 05:55] Snapshotlight opened #35 "Broken Metamorph hitboxes (try entities from other mods)"
**Describe the bug**
When you play this mod with Metamorph and other mods, some hitboxes of some creatures seem strange when you morph into them such as Mutant Zombie in Mutant Beasts and most engender mobs in The Engender. Their hitbox changed into the player hitbox. However, if you set their size to 0, their hitbox become normal again. I don't know if Moprh will work strangely.

**To Reproduce**

[2020-03-24 20:49] ultra421 opened #36 "Camera not working properly with Galacticraft"
**Description**
Camera not going up/down according to size, fog changes according to size.

**To reproduce**
Using any size recalibrator

**Expected behavior**
Camera going up/down.

**Screenshots**
![1 to 1](https://user-images.githubusercontent.com/62622714/77475118-9669ad80-6e18-11ea-8736-5b3062242ed9.png)
![1 to 2](https://user-images.githubusercontent.com/62622714/77475166-aaadaa80-6e18-11ea-

[2020-03-24 22:27] necauqua commented on #35
Holy shit, it even not to crash with Morph?
I will check that of course, but I promise nothing as this is a hitbox changing coremod, and Morph changes hitboxes too.
They are inherently incompatible unless I (or iChun, which is unlikely) hardcode something in to prevent these kinds of bugs.
As I've said though, I'll look into it at some point)

[2020-03-24 22:29] necauqua commented on #36
Well this is one of the main functions of the mod which obviously worked, so this must be caused by yet another mod compatibility issue, I will check your mods too at some point.

[2020-04-22 18:12] LeeTheKing123 opened #38 "Minecraft crashes on load"
I dont know why but it crashes on load ethier with the 1.11.2 or the 1.12.2

[2020-04-22 23:17] necauqua commented on #38
When you press 'New issue' on GitHub, it gives you a choice from 'Crash report', 'Feature request' and 'Bug report', that is how I configured it.
How do you people keep making those empty issues?

I am saying that because if you've chosen the 'Crash report' it has a template with minimum required information that I need to figure out your exact problem.

Yes, for me the mod crashes too, if I add a

[2020-04-23 22:03] NoNaccc opened #39 "Game Crashed with other Mods"
Hello,
i just made a new Modpack for the Minecraft version 1.12.2 and addet a bunch of mod (list below)
and after I addet the Mod chiseled me the modpack wouldnt start anymore. I looked arround your Github and saw in one Post that you talked about a list of incompatible mods. I looked arround for that list but i couldnt find it. btw the modpack starts fine without the chiseled me mod.
Would be ver

[2020-04-24 14:09] necauqua commented on #39
Yeah, the list is not really a physical thing, because when I say 'list of mods' its more like 'I know there is a lot of mods who dont work, and there are issues with exact mods on the github, and when I get to fix all of that I will test for all of them'.

Most notable are OptiFine, iChunUtil (and thus all mods by iChun) and some others from the issues around here.

You have a lot of mods, usuall

[2020-04-30 08:48] danielelol155 opened #40 "minecraft crash on load"
When I try to use this mod with mod *X* (and/or by doing some set of actions), the game crashes.

If you know exactly with what mod *X* this mod crashed, please check that it was not already reported.

**Additional information:**
---- Minecraft Crash Report ----

WARNING: coremods are present:
  Chiseled Me ASM (chiseled-me-1.12.2-2.0.0.1.jar)
Contact their authors BEFORE contacting forge

// Surp

[2020-04-30 13:40] necauqua commented on #40
This is caused by old Forge version - it has no IRarity class which was added in newer ones (I really really should've specified the min required Forge version in mod metadata so it will show you gracefully that you need to update Forge instead of crashing, sorry)

[2020-04-30 13:40] #40 closed, assigned to necauqua

[2020-05-04 17:58] MinecrafterDaOne opened #41 "Multiplayer walk speed glitch with Inventory Pets mod installed"
Me and my friend are playing Minecraft forge 1.12.2 multiplayer, and every now and again, the view bobbing stops working and then when I changed my size to 1/16 my walk speed did not change, I believe this is Mod Argument. Do you of anything that causes this bug?

[2020-05-04 17:59] MinecrafterDaOne commented on #41
from what I know it only happens in multiplayer

[2020-05-04 22:01] MinecrafterDaOne opened #42 "Super size Recalibrator (SSR)"
No, I am not Asking for a size recalibrator more extreme than the ones you already have, I am asking for a size recalibrator that the player can edit, basically the Player holds the SSR in his/her hand and then the player hits a special key on the keyboard (like I dunno, maybe the \ key) and then the mod brings up a list of all the sizes possible, the player chooses one then exits the list and the

[2020-05-05 00:39] necauqua commented on #42
Well the actual issue is indeed that you cannot use the commands.

The idea is good though, I already thought about something like that.
I am thinking of reworking the content part of the mod, since currently the textures are really bad, and the usability of the recalibrators and stuff it not really great either, so something along the lines of a single recalibrator with different sizes (upgradabl

[2020-05-05 00:43] necauqua commented on #41
Yeah, sounds like a desync of some kind.
When I get back to working on this mod I'll take a look at a lot of stuff so this one might be fixed as well then.
Also if you find the way to reproduce the bug it will be so much easier for me to try to fix it too.
Anyway, thanks for your input.

[2020-05-05 02:37] SkyfrostgamingYT opened #43 "Taking constant damage on < 1/32 size with the up, down, and all around mod (broken hitbox)"
When ever i try to scale lower than 1/32, i start taking damage in survival. How do I fix this?

**Expected behavior**
to be able to scale at least to 1/64 without taking damage

**Additional information:**
- Forge version: 1.12.2-2838
- Mod version:1.12.2-2.0.0.1

[2020-05-05 07:25] necauqua commented on #43
Wow, this is new.
Well I cant reproduce, obviously.

Possibly it thinks that you collide with the blocks you're standing on?
Can you test it while being in the air?

Anyway, not enough info, and I am not working on the mod currently.
Big rework expected to be done this summer, so as with most bugs this may get randomly fixed or simply won't exist in new code.

[2020-05-05 17:20] SkyfrostgamingYT commented on #43
I figure it out, it is a bug with the up, down, and all around mod.

[2020-05-09 13:44] MinecrafterDaOne commented on #41
Update:
this happens with the Inventory Pets mod installed, Usually with the cloud pet in your survival inventory

[2020-05-10 01:59] necauqua commented on #41
This is super good news, thanks
(well you understood that by good news I meant that it will be so much easier for me to find and fix this knowing when exactly this happens, not that the other mod breaks it huh)

[2020-06-04 13:52] Zuzusuzu opened #44 "i can't play minecraft with this mod (version 1.12.2)"
When I try to use this mod with mod *X* (and/or by doing some set of actions), the game crashes.

If you know exactly with what mod *X* this mod crashed, please check that it was not already reported.

**Additional information:**
- crashlog file or gist: *required*
- `fml-latest.log` file: *highly recommended to provide*

[2020-06-05 00:11] necauqua commented on #44
Well, I need at least some information, without elaboration your issue is useless.
Anyway, try to update Forge first please

[2020-06-09 01:48] AlienXtream opened #45 "Updates and 1.12.2 support?"
i know this is a bit of a big ask and all but given that 1.12.2 is the current main modding version (with 1.14 slowly picking up) can we expect the major features/bug fixes to be backported to this version?

[2020-06-09 01:58] AlienXtream opened #46 "Creative flight system"
a creative flight like mechanism that is tailored to the reduced scale to allow easier building "big" things. something like a "bee on a string" or something, with a little bee flying around and the player on a string under it. imo it has the "vanilla" style about it, like the carrot on a stick, so it fits even in a mostly vanilla environment without really feeling out of place :D

[2020-06-09 01:59] AlienXtream commented on #46
i just had the idea pop into my head while thinking about the mod and thought "i need to share this idea" :)

[2020-06-09 07:08] necauqua commented on #46
Well I'll think about something to help build things in creative, but I'll see if it would be a bee on a string or something else, thanks)

[2020-06-09 07:09] necauqua commented on #46
That is because what I've pictured in my head when I've read that is a bit hard to implement, but if you mean like an item (similar to carrot on a stick) - then maybe. Although again, this is a 'tech' mod, so vanilla vibes might feel out of place themselves, we'll think.

[2020-06-09 07:13] necauqua commented on #45
well I kinda thought to go for updates up to 1.15 and stick with them, but okay, maybe I'll support the 1.12 version for some time

Anyway this mod at the very least needs not to crash with like every other mod, so I will work on that (and not version updating) first.

[2020-06-09 07:13] #45 closed, assigned to necauqua

[2020-06-09 07:14] necauqua commented on #45
Closed as answered question.
You can go to Discord to ask and discuss more, github issue format is not the best for that

[2020-06-09 12:27] AlienXtream commented on #46
yeh, i can understand that. implementation wise i was thinking more enable creative flight, slow player to 1/16 (or whatever scaling factor is used) default speed and basically render a bee and a harness on the player. like, a chest plate with a custom model that is the string and bee. as for the "vanilla" thing. i was meaning more in that it fits in with the vanilla style of things, like the come

[2020-06-09 12:36] AlienXtream commented on #45
yeh. my discord is really cluttered so i tend to only bother joining them if i spend a LOT of time communicating. as it is i will likely not have much else that needs adding.

as for the updates and 1.12 v 1.15, i was mainly thinking the same for it at least being stable and more a less compatible with the major mods (morph/ichun util might be a problem but the 1.12 version if that is alpha and ha

[2020-06-09 12:39] necauqua commented on #46
Oh, you meant to enable creative flight in survival when you're small, now I get it.
Yes, seems reasonable, when I'll finally work on the mod I'll do something like you have described.

Although I still think that since this is a tech mod, you should use some "hi-tech device" for that and not some vanilla-like stuff.
However, the whole mod content will be revised so I might give vanilla-like style

[2020-06-09 12:41] AlienXtream commented on #45
anyway, sorry for such messy posts. i just want to take a moment to thank you and many who've come before you for your contributions to the MC community. this game would literally be nothing like it is were it not for people like you making awesome content (and all for free to boot) for this game. its not said enough and it needs to be acknowledged more that minecraft isnt just Mojang's game, but

[2020-06-09 12:43] AlienXtream commented on #46
dont be strict with it. if you wanna go non vanilla like thats fine. as mentioned, i just felt the idea of a bee suspending the player from a little string was funny and had the same vibe as vanilla humor XD

[2020-06-09 12:46] necauqua commented on #45
I am pretty sure that if the mod launches without crashes, there is no way it can corrupt worlds

[2020-06-09 12:51] AlienXtream commented on #45
if it "shrinks" the player and triggers a crash but just happens to auto save at the same moment you are shrinking then you will load into the game and the shrinking events will happen, triggering a crash before a player can reasonably do anything. at least in theory. such cases would be EXTREMELY rare but need to be considered sometimes. even so, its good practice to backup anything important to

[2020-06-09 14:07] necauqua commented on #45
k, got you
By 'corrupting the world' I meant when data is lost, like player inventory or chunks got deleted or something.

In your scenario you can uninstall the mod (well, that gets rid of mod items, eh) or use some nbt editor and remove the resizing field from player nbt to fix stuff

[2020-06-10 07:09] AlienXtream commented on #45
yeh, world broken and cant get in. fail safe would basically do exactly that. purge all your mods data attributes without actually having to remove the mod. more a convenience for the end user/for people who are not so technically inclined to be able to do that. easier to say to them "go to your config and change 'emergency repair' (or whatever you might call it) to 'true' and see if that helps" t

[2020-06-12 19:56] MarkColo2 opened #47 "Crash with Quark+AutoRegLib"
discovered these while trying to add Chiseled Me to a 1.12.2 Hexxit pack from Twitch.

I trimmed it down to just one mod that causes the crash:

Quark - crashed On Forge 14.23.6.2854  (log attached)
------------------------------
chiseled-me-1.12.2-2.0.0.1.jar
Quark-r1.6-177.jar
AutoRegLib-1.3-32.jar   (required by Quark)

[Chiseled-me, Quark, AutoregLib Crash.log](https://github.com/necauqua/chis

[2020-06-12 19:57] MarkColo2 opened #48 "Crash with BetterFPS"
BetterFPS - crashed on 14.23.6.2854 - (log attached)
----------------------------------
BetterFps-1.4.8.jar
chiseled-me-1.12.2-2.0.0.1.jar

[Chiseled-me, BetterFPS crash.log](https://github.com/necauqua/chiseled-me/files/4772946/Chiseled-me.BetterFPS.crash.log)

[2020-06-12 19:57] MarkColo2 opened #49 "Crash with VanillaFix"
VanillaFix - crashed on 14.23.6.2854 - (log attached)
----------------------------------
chiseled-me-1.12.2-2.0.0.1.jar
VanillaFix-1.0.10-99.jar

[Chiseled-me, VanillaFix Crash.log](https://github.com/necauqua/chiseled-me/files/4772952/Chiseled-me.VanillaFix.Crash.log)

[2020-06-12 20:01] MarkColo2 commented on #47
Was trying to add chiseled-me to a Hexxit 1.12.2 pack that I got from Twitch.  Did some binary searching to narrow the incompatibility down to this mod and its required library.

[2020-06-12 20:02] MarkColo2 commented on #48
Was trying to add chiseled-me to a Hexxit 1.12.2 pack that I got from Twitch.  Did some binary searching to narrow the incompatibility down to this mod.  Did my testing with only the two mods above and caused the crash.

[2020-06-12 20:02] MarkColo2 commented on #49
Was trying to add chiseled-me to a Hexxit 1.12.2 pack that I got from Twitch.  Did some binary searching to narrow the incompatibility down to this mod.  Did my testing with only the two mods above and caused the crash.

[2020-06-13 05:30] necauqua commented on #49
Really good - well, not the crash, but the fact that you put the effort, thanks.
Will check, test and fix when I get to do a lot of work after end of June (as I've said everywhere already).

[2020-06-13 05:31] necauqua commented on #48
Oof, might be same as with OptiFine - some rendering incompatibility, there is a probability of it being unfixable (well, I mean hard enough to fix to not bother trying).
Will check anyway.

[2020-06-13 05:32] necauqua commented on #47
Quark? Oh, maybe makes sense, they must do something with bytecode too.
Will check this too.

[2020-06-13 05:45] necauqua commented on #49
Eh, might be same as with fps thing and OptiFine.
And also Quark maybe messes with stuff too.
So that's not really surprising that they crash with this mod, since I mess with stuff all over the place - to make the effect stable and realistic.
Will check everything anyway, maybe will find workarounds for some stuff, yeah

[2020-06-15 15:56] MarkColo2 commented on #49
No worries.  I know how nice it is to have a tiny focused test environment with extraneous things removed.  The community appreciates what you do to keep mods like this alive.

[2020-06-18 07:49] AlienXtream commented on #49
^

[2020-06-22 02:36] minimutson commented on #36
Same issue, but the only mod I have found to be common ground is
MicdoodlePlugin (MicdoodleCore-1.12.2-4.0.2.244.jar)

(Edit)
Upon further testing, I have reached the conclusion that MicdoodlePlugin (MicdoodleCore-1.12.2-4.0.2.244.jar) is the culprit of the camera issue. I hope this helped!

-minimutson 6/21/2020 10:40 PM EST

[2020-06-22 06:51] necauqua commented on #36
This helped :)

[2020-06-23 12:28] Mxcrider commented on #16
pls could you fix this soon? it is half a year later :(

[2020-06-23 12:42] necauqua commented on #16
Well I tried to communicate my schedule for working on this mod as widely as possible, but I'll repeat it here just for you (you're not even the issue author btw):
After the end of June (just a week left btw) I will finally have a lot of free time where I will be able to work on the mod and will be fixing those issues and even then updating it to newer game vesions too.

And you can follow the [tw

[2020-06-23 12:51] necauqua commented on #47
Closing as duplicate of #32
Yeah I am going over the issues atm

[2020-06-23 12:51] #47 closed, assigned to necauqua

[2020-06-23 12:53] necauqua commented on #28
Yeah didn't really work out, but soon I will do a lot of work with this mod, as I've said in a lot of places.

[2020-06-28 18:01] CreeperGuy72192 opened #50 "Pushing me away from a one block hole when flying in it"
So what happens is when I'm trying to enter a one block hole if I fly up it pushes me to one the side of the block. The other mods I have are Chisel, Chisel & Bits, Fakename, More Player Models, SecretRoomsMod, WorldEdit, ConnectedTexturesMod and that's it. I tried using the mod by itself but it was still happening and I don't know why I haven't changed anything I literally tried using it by itsel

[2020-06-30 13:39] necauqua commented on #50
Looks like a desync for me - on the server your size must be bigger
If you relog then you are back to size 1, right?
Anyway the mod is about to have a lot of stuff rewritten, so this may or may not persist

[2020-06-30 18:05] Com2486 opened #51 "Can't actually run at all"
My game just straight up dies when I boot the game with Chiseled Me installed. These are the mods I have:
![image](https://user-images.githubusercontent.com/61245294/86161052-529ada00-bad2-11ea-8ab0-3e6476215c3d.png)

[2020-06-30 18:06] Com2486 commented on #51
if you need logs, here they are
[12:59:57] [main/INFO] [LaunchWrapper]: Loading tweak class name net.minecraftforge.fml.common.launcher.FMLTweaker
[12:59:57] [main/INFO] [LaunchWrapper]: Using primary tweak class name net.minecraftforge.fml.common.launcher.FMLTweaker
[12:59:57] [main/INFO] [LaunchWrapper]: Calling tweak class net.minecraftforge.fml.common.launcher.FMLTweaker
[12:59:57] [main/INFO]

[2020-06-30 18:33] CreeperGuy72192 commented on #50
I'm playing on a singleplayer world and if I leave and enter the world again my size is still the same size I was when I left.

[2020-06-30 19:05] necauqua commented on #51
confirmed uncompatible (yet) mods: OptiFine, iChunUtil
:)

[2020-06-30 19:05] #51 closed, assigned to necauqua

[2020-06-30 19:06] necauqua commented on #50
Aha, then literally idk, this is weird
As I am saying in a lot of places, I'll be rewriting major parts of the mod so your exact case might or might not persist

[2020-06-30 19:08] necauqua commented on #50
doesn't matter, there is an integrated server running in singleplayer too and so client/server desync's are very possible in this game/

[2020-06-30 19:24] CreeperGuy72192 commented on #50
Oh I forgot that it was still a integrated server and the first time I was having the problem was when I used 1.10.2 and was using this mod and LittleTiles mod because I didn't know UpAndDownAndAllAround didn't work with the mod but I know now, I made a empty box and I started having that problem but didn't have it for a while after it happened and it is happening again. I'll just wait for you to

[2020-06-30 19:35] necauqua commented on #50
Yeah I am having a ton of free time starting literally tomorrow (will idle for a couple of days more ofc), come [discord](https://discord.gg/pZrbJNb) for news and talk if you need it

[2020-06-30 19:46] CreeperGuy72192 commented on #50
Ok

[2020-07-03 14:18] 253488655422 commented on #44
<details>
<summary>crashlog</summary>

[code]
</details>

[2020-07-03 14:37] necauqua commented on #44
Looks like shadersmod and/or replaymod (thats what I can read from the log) are not compatible with this mod either, so we'll wait for ongoing mod rewrite to complete to find out if it helps with the issue.

[2020-07-03 21:37] Hecze commented on #16
si porfavor,es urgente,mi minecraft va a 2 fps sin optifine :(

[2020-07-17 11:42] RainEffect opened #52 "Crash when using Mohist"
When I try to use this mod under [Mohist server](https://mohist.red/), server was crashes.

**Additional information:**
- minecraft version: 1.12.2
- Mohist version: [7bb5453](https://ci.codemc.io/job/Mohist-Community/job/Mohist-1.12.2/615/)
- mod version: 2.0.0.1
- crashlog file or gist: [crash.log](https://github.com/necauqua/chiseled-me/files/4937514/crash.log)

It even can't open any way.

[2020-07-17 15:06] necauqua commented on #52
You provided only a couple of lines from the crashlog, and the only thing I can read from it is that something tried to close the game programmatically - usually this is done by something that catched some error and possibly logged it above or below the lines you provided, or maybe Mohist did that - the point is that the exact error you provided seems not really related to this mod.

I am sure tha

[2020-07-17 17:10] RainEffect commented on #52
![Crash image](https://user-images.githubusercontent.com/14258727/87812844-66488d80-c893-11ea-903f-7e4ba0dd0b24.png)
Mohist was only return this message, and I translate it.

[2020-07-23 02:37] venumthekiller opened #53 "Crash report 1.12.2"
It says: The game crashed whilst initializing game
Error: java.lang.NoClassDefFoundError: net/minecraft/client/renderer/EntityRenderer
I used the latest version of forge I was using: forge-1.12.2-14.23.5.2854-installer
Please help me .
(idk if this is irrelevant or what but here is crash report)
---- Minecraft Crash Report ----

WARNING: coremods are present:
  Chiseled Me ASM (chiseled-me-1.12.2-

[2020-07-25 21:51] Stecca6663 opened #55 "Player, when smaller, takes damage from lava just from being near it"
**Description**

When the player is at size 0.2 or smaller he takes damage when being near lava or when being near lava with a block above the lava.

**To reproduce**

To reproduce it just set your size at 0.2 or smaller and go near lava.

**Expected behavior**

You should be able to stay near lava without dying (like you can when you are normal size).

**Video**(Because you can't really tell with

[2020-07-26 17:19] necauqua commented on #53
Version 2.0.0.0 just crashes on startup, it was borked
Please use 2.0.0.1 or later :)

[2020-07-26 17:19] #53 closed, assigned to necauqua

[2020-07-27 06:44] LorenzoPapi opened #56 "Model not visible when in 3rd person in small sizes"
**Describe the bug**
When your size is less than 3.051758E-4 (approximated), your model in 3rd person gets invisble

**To Reproduce**
Steps to reproduce the behavior:
1. Start Minecraft with chiseled me
2. Create/Load a world
3. Use the sizeof command or use the 1/4096 recalibrator
4. See that you're not visible and neither the hitbox is

**Expected behavior**
You shoud be visible

**Screenshots**

[2020-07-27 07:53] LorenzoPapi commented on #43
Just tested this issue, basically the hitbox doesn't get changed when you resize and Minecraft thinks that you are being suffocated by a block (confirmed in fixed-mixin version), tested with forge 1.12.2-14.23.5.2854 (the latest)
Debug log=https://gist.github.com/LorenzoPapi/13cc465ce86481fd27bb2543feefca51

[2020-07-27 08:07] LorenzoPapi commented on #55
confirmed in mixin-fixed version, if it can help, the exact size from which you take damage is 0.222222216427 (yes, I have some free time lol and yes I love this mod)

[2020-07-27 10:37] necauqua commented on #55
I dont think that the _exact_ size would help me much but thanks for the effort :)

[2020-07-27 21:33] #21 closed, assigned to necauqua

[2020-07-27 21:33] #28 closed, assigned to necauqua

[2020-07-27 21:33] #32 closed, assigned to necauqua

[2020-07-27 21:33] #48 closed, assigned to necauqua

[2020-07-27 21:33] #52 closed, assigned to necauqua

[2020-07-27 21:43] necauqua commented on #36
confirmed by @LorenzoPapi on discord

[2020-07-27 21:46] necauqua commented on #30
Update: now I know what can cause errors like these - its some mod that uses the Mixin library - this is fixed in the current master and should be released in like a week or less - I will ask you to retry this once I release the fixed version.

[2020-07-27 21:49] #38 closed, assigned to nobody

[2020-07-28 17:10] necauqua commented on #49
Partially fixed since in the current master (unreleased) it does not crash but the player camera is broken

[2020-07-28 17:11] necauqua commented on #8
Can you actually clarify what do you mean by that?
Is this a bug (cant damage) or a feature request (make it so that cant damage)?
More info pls :)

[2020-07-29 09:17] GingerGingah opened #57 "bruh i dont have the items"
i full on cant see any items it comes up with the little tab in creative menu but the items in it arent there lol pls help
EDIT: I fixed it lol lol

[2020-07-29 09:18] GingerGingah commented on #57
fixed

[2020-07-29 09:29] LorenzoPapi commented on #57
Close the issue please

[2020-07-30 01:44] #57 closed, assigned to necauqua

[2020-07-30 19:28] TheEggi98 commented on #44
I also cant play with this mod atm. the Exception thrown even before the MC Loadingscreen shows up
My Log: https://paste.myftb.de/ikocewobek
From what i guess from the log it crashes from missing classes in World? (damn i really need to learn Java too^^)
i put this mod in FTB Builders Paradise with some extramods, if wanted i can also post the mod-list.

[2020-07-30 23:50] necauqua commented on #44
@TheEggi98
This crash is already fixed (with a metric ton of other mod compat crashes), so wait for the next release (will be in a week or so) and you can try again

[2020-07-31 00:04] necauqua commented on #44
@253488655422 @TheEggi98 Ok so this initial issue initially was just invalid, and both of your issues (that you made as comments and not separate issues) are either fixed or at least affected in the current unreleased code, so I am closing this issue and if you have problems after the release you can open new issues.

[2020-07-31 00:04] #44 closed, assigned to necauqua

[2020-07-31 00:08] #31 closed, assigned to necauqua

[2020-07-31 00:08] #50 closed, assigned to necauqua

[2020-07-31 00:08] #55 closed, assigned to necauqua

[2020-07-31 00:11] necauqua commented on #39
A lot of mod compat issues are fixed in the current master (releasing it as the next version in about a week) so your issues may or may not be fixed, you may try again with the next release once it is out, but currently I cannot help you without an actual crash.

[2020-07-31 00:13] necauqua commented on #33
Ok I took a look and I don't think that being immune to potion effects when being small is reasonable.
And sizes below 1/16 were made just for fun, they are pretty useless anyway imo.

[2020-07-31 00:13] #33 closed, assigned to necauqua

[2020-08-17 00:03] SuperSonic392 opened #59 "my game crashes when i try to load it"
is it something with little tiles? forge? creative core? do i have to use chisels and bits?

i haven't been using optifine. (pretty sure i haven't used it in 1.12.2 ever)
is there anything that can fix it.
it says something about IRarity.

if you think anything on my taskbar looks dumb..... why? it's mostly browsers and online games
anyway
![Screenshot (124)](https://user-images.githubusercontent.

[2020-08-17 03:24] necauqua commented on #59
`IRarity` crash means that you have an old Forge, if you update it to last it wont crash because of that.

Right now a ton of fixes are already made and I am releasing a much better version in the next couple of days.
And it includes the fix for this `IRarity` thing, so closing this issue as already fixed.

P.S. Way too many unnecessary question marks and/or questions

[2020-08-17 03:24] #59 closed, assigned to necauqua

[2020-08-20 01:20] SuperSonic392 commented on #59
" P.S. Way too many unnecessary question marks and/or questions".
sorry about that.
anyway thanks for that, I'm gonna start getting a newer version of forge now

[2020-08-20 15:54] necauqua commented on #59
Don't worry so much, omg
Join our [discord](https://discord.necauqua.dev/) where you can ask anything and get updates about what's up with the update

[2020-08-27 01:37] ntck opened #60 "valkryien skies and possibly engender mod crash"
Valkyrien Skies crashes on loading world (also potentially engender mod)
[crash-2020-08-27_11.32.19-client.txt](https://github.com/necauqua/chiseled-me/files/5133485/crash-2020-08-27_11.32.19-client.txt)

[debug.log](https://github.com/necauqua/chiseled-me/files/5133474/debug.log)

[2020-08-27 10:23] Stecca6663 opened #61 "Optifine+Dynamic Lights=Crash"
When I use chiseled me and optfine while dynamic lights are set on fast or fancy, the game crashes. This happens when I create a world or after a few seconds from entering the world. If you need more info, I'll try to provide them!

**Additional information:**
- Forge version: 14.23.5.2854
- Chiseled me version: 2.1.0.0-beta
- Crashlog file: [crashlog.txt](https://github.com/necauqua/chiseled-me/f

[2020-09-04 02:57] aDreamEater opened #62 "LLibrary crash"
When I try to use this mod with mod library LLibrary, the game crashes on load.
Chiseled Me and LLibrary are the only mods in use.
Both of them individually work fine, but fail in combination.
[crash-2020-09-03_22.50.02-client.txt](https://github.com/necauqua/chiseled-me/files/5172423/crash-2020-09-03_22.50.02-client.txt)

[2020-09-05 04:23] Jinsto-Nim-Alt opened #63 "Minecraft crashing (No optifine, 1.12.2)"
I've updated to the newest version of forge, i've re-installed the mod multiple times, switched versions, took away all of the other mods, and it STILL crashes. Here is the error:

java.lang.NoClassDefFoundError: net/minecraft/client/renderer/EntityRenderer
	at net.minecraftforge.client.ForgeHooksClient.shouldUseVanillaReloadableListener(ForgeHooksClient.java:959)
	at net.minecraft.client.resource

[2020-09-05 16:59] Jinsto-Nim-Alt commented on #63
Fixed! Apparently I had a secret mod or something, I came back later and it works

But when I added all of my mods back, it turns out ichunutil doesn't work with it!

[2020-09-05 16:59] #63 closed, assigned to nobody

[2020-09-12 15:59] HurricaneBoy13 opened #64 "Can you please make a version of this mod for MC 1.7.10?"
Hi,
I have been using 1.7.10 for so many mods. The only kind of mod I could never get was a player-resizing mod.
Chiseled Me could be a great replacement for Gulliver's Mod if it were for 1.7.10, not just 1.10.2 and 1.12.2.
So can you please update this mod to a 1.7.10 version for MC?
Sincerely,
HurricaneBoy13

[2020-09-12 16:53] necauqua commented on #64
Well the problem is that I will have a hard-hard time even updating it to 1.15, because this mod applies a *ton* of bytecode patches, each of which completely breaks once you change the version of the game (thats why 1.11 was so bad - had some badly updated patches), and so each of them needs to be revised when a version update occurs.

At the moment the priority is 1.15 or even to finally release

[2020-09-12 16:53] #64 closed, assigned to necauqua

[2020-09-16 20:42] Catlord-3 opened #65 "Customnpc hitbox weirdness"
Custom npcs npcs do not properly scale using recalibrators

**To Reproduce**
Steps to reproduce the behavior:
1. Create an npc using custom npcs
2. Use a volume recalibrator on them (due to their interact feature you need to be like 5 blocks away to do this)
3. Us f3+b to see broken hitbox (upon resizing back to normal hitbox is still broken, its larger but not correct)

I tested and this is not a

[2020-09-16 20:43] Catlord-3 commented on #65
A note: they both have the same nbt data exactly, except for the size change. they are clones of each other.

[2020-09-16 21:37] necauqua commented on #65
So a relog should fix it I guess.

Well customnpc has some weird setSize interactions I even do recall knowing about something like that somehow.
Will check and possibly fix

[2020-09-17 15:33] CosmicCrowMC opened #66 "When repeatedly changing size, the player jitters a lot."
**Describe the bug**
When changing size, you're unable to move properly, if at all.

**To Reproduce**
1. Set up a repeating command block with the command "/sizeof @p multiply 0.9999" (or a number very close to 1)
2. Set the command block to "always active", close the command block menu and try moving around, especially in the air.

**Expected behavior**
To change size without stuttering. The expe

[2020-09-19 18:47] CosmicCrowMC opened #67 "Allow small-ish players to use beds."
A small change, but it'd be great if players that are just a little big/small could still use beds. (Maybe 0.75-1.25?)

The reason I'd like this feature is a bit selfish, honestly, but in my "Shrinking Survival" YouTube series, a Lets-Play in which I constantly shrink, it's impossible to move my spawn point since, the tick after I respawn, I shrink. It'd still make sense, though, because as long a

[2020-09-20 17:34] necauqua commented on #67
I honestly didn't want to bother with sleeping player model so I just disallowed that (as well as riding)
But I could make this a config, sure (but the model will be funky) and maybe later even fix the model so that <=1 size can sleep (why couldn't you sleep if the bed is just the size of a stadion for you? :smile: )

[2020-09-24 03:37] Catlord-3 opened #68 "Cannot move while constantly shrinking"
Basically if i constantly set my size to be slightly smaller, i cannot really move at all, like i am being teleported back to where i was. I tested using latest beta with only chiseled me. I saw a video on someone doing a challenge using this idea, and i have no idea why it does not work in the latest beta. I tested in the latest release and it works fine there. I have no idea why this is and i ho

[2020-09-24 03:48] Catlord-3 commented on #68
Also tested using divide instead of multiply, same issue, but setting size really small over a long time actually works. I would still appriciate this being fixed though. Thank you for reading this!

[2020-10-03 00:09] UltimateEmboar opened #69 "Invisible wall when walking towards block?"
Okay so I'm playing on 1.12.2 and I'm using version 2.0.0.1 and basically when I'm size 1/16 and I walk towards a block and I pretty much can't go any further towards the block. I basically stop moving when I'm 3 or 4 pixels away from the block. Hopefully my image works. This is my first time using GitHub and making a post like this but if you can see it then it shows where it stops me moving. I w

[2020-10-03 00:46] #69 closed, assigned to nobody

[2020-10-05 02:36] Alexandqr opened #70 "Camera/bbox misbehavior with Idō Mod"
When using Ido's features with this mod installed (such as sneaking, as it changes your z size from 0.85 to 0.75, crawling, like in 1.13+, and swimming), your camera will shake or widen. With larger (or smaller, I couldn't check because Minecraft crashed) sizes, your hitbox also grows to a size Minecraft can't handle, making your game freeze.

Steps to reproduce the behavior:
1. Install both mods

[2020-10-10 19:25] Scraft161 opened #71 "Player resizing broken with galacticraft [1.12.2]"
when using both galacticraft and chiseled me for 1.12.2 the player camera stays at the same height and the player hitbox sizing isn't working like it's supposed to.

this could be an issue with conflicting ASM code on either side.

[2020-10-10 19:28] LorenzoPapi commented on #71
The latest release of chiseled me is incompatible with Galactricraft, but in the discord server of the mod there is a beta with a fix for it (if you really want to use Chiseled me with Galactricraft now and can't wait for the new release to come out)

[2020-10-10 20:42] Scraft161 commented on #71
thank you, I am working on a pack featuring Chiseled me as one of the mods but sadly enough GalactiCraft isn't the only mod causing issues, I know VanillaFix messes with the player model and prevents chiseled me from starting but I'll open an issue for that once I have more information.

thank you very much for pointing this out to me, is it ok if I keep this issue open untill the release is on cu

[2020-10-10 20:56] necauqua commented on #71
The discord release is technically a beta (albeit "released" only in discord) so you are free to use it.
Or like, you can clone this repo and compile it yourself :)
Yeah I was a bit busy with all sorts of stuff, so I'll try to make a release finally at some point

[2020-10-10 21:00] necauqua commented on #70
No updates of any sorts atm, just writing to show that I noticed and yes, thanks for sharing the incompatibility.

From how you described this I think there might be ways to work around the issue - at least partially, to make it not break completely, just needs testing/checking etc.

[2020-10-10 21:59] Alexandqr commented on #70
I see, hopefully this can be fixed after you finish the next update. Keep up the good work!

[2020-10-26 04:26] landpointpro commented on #71
i am having the same issue where the game opens but then closes with no error on sky factory 4 modpack and added this mod to it wont allow it to start

[2020-10-26 05:00] LorenzoPapi commented on #71
@landpointpro if you don't know why the game doesn't start, I suggest you to make a new issue and post all the required files to make the developer possible to try to fix the issue. Reply here only if the issue is related to the Galactricraft mod

[2020-11-17 12:44] ZStr10 opened #72 "Minecraft 1.16.4"
Доброго дня!

Ви плануєте оновлювати мод до 1.16.4?

Дякую!

[2020-11-17 17:12] necauqua commented on #72
Планирую конечно, вот только сначала нужно дочинить 1.12 и потом ещё всё что между ними - это займёт кучу-кучу времени, к сожалению.

github issues не для таких общих вопросов, советую зайти в [дискорд](https://discord.necauqua.dev) (он правда почти польностью на инглише), там есть бета 1.12 с кучей фиксов которую я никак не выложу на curse, и плюс апдейты тоже туда в первую очередь летят.

[2020-11-17 17:12] #72 closed, assigned to necauqua

[2020-11-24 19:18] necauqua commented on #68
Ok I'm finally back to working on this project, closing this a duplicate of #66

[2020-11-24 19:18] #68 closed, assigned to necauqua

[2020-11-25 12:54] Duckxz opened #73 "Crash with AstralSorcery"
When I try to launch the game with chiseled me (version 1.12.2-2.0.0.1), the game crashes.

**Additional information:**
- crashlog file or gist: [crash-2020-11-25_13.43.26-client.txt](https://github.com/necauqua/chiseled-me/files/5596753/crash-2020-11-25_13.43.26-client.txt)

- `minecraft_profile_folder/logs/debug.log` file: [debug.log](https://github.com/necauqua/chiseled-me/files/5596757/debug.l

[2020-11-25 13:00] Duckxz commented on #73
It seems it might be the same as #30

[2020-11-25 13:08] LorenzoPapi commented on #73
You seem to have a lot of mods, could you try to see which one conflicts with cm?

[2020-11-25 13:31] necauqua commented on #73
Yet again some mod (as well as mine) tried to change the reach distance in the most uncompatible way, Minecraft and/or Forge codebase is eh.

This can (and will) be easily fixed, but yes, name your issues not 'the game just crashes', but 'the game just crashes when I have lots of other mods', hehe

Also you have the llibrary mod which is known (#62) to be incompatible atm, #30 is already fixed in

[2020-12-06 16:39] Sora-Canstavia opened #74 "[1.12.2] Server sleeping warp error"
When you sleep in a bed (so the screen greys out and skips night) when you wake up, every time you use the shrinking or growing items you will be warped back to your bed until you relog.

Video here: https://www.youtube.com/watch?v=CK_dl4ue8rI&feature=youtu.be
Switched to creative due to taking some damage and using up charges showing and testing this ^^;

[2020-12-06 16:43] Sora-Canstavia opened #75 "[1.12.2] Ghast, Blaze, wither and fire charge projectiles not working in multiplayer"
When any of these are fired off they immediately act as if they have hit something, but do no damage. Arrows, ender dragon attacks, other modded projectiles seem to work, though.

[2020-12-09 20:05] Sora-Canstavia commented on #75
Update: Shulker projectiles also do not function serverside

[2020-12-23 11:59] idk-what-to-put-here opened #76 "unknown crash"
when i try to use the mod with a small amount of mods i have it keeps crashing and even removing the LLIbrary mod i use it still has the same crash message which is "The game crashed whilst initializing game
Error: java.lang.NoClassDefFoundError: net/minecraft/client/renderer/EntityRenderer
Exit Code: -1"
below is a list of the mods i have in the folder
![mods folder](https://user-images.githubuse

[2020-12-24 22:58] CosmicCrowMC opened #77 "Scale Entity Draw Distance with Entity Size"
It'd be nice if the distance you can see an entity from scales with their size if their size is >=1. I don't know how technically challenging this would be, but it would be great if you could see, say, a giant creeper from 256 blocks away instead of the current limit of 64 blocks. This would make the mod feel a lot more immersive because as it is, it's a bit jarring when a giant mob suddenly disap

[2020-12-25 02:46] necauqua commented on #77
I do scale something called entity render distance in code, it just seems to have no effect, so :shrug:
But yeah I'll look into that when updating, maybe new versions have it fixed, who know

Also yeah, even updating to 1.13 will be fun, I spent like a lot of time fighting dumb bugs/changes of new forge lol

[2020-12-25 10:25] necauqua commented on #76
Well you'd need to provide the `debug.log` file for me to say anything, but well, some other mod changes the EntityRenderer class in an incompatible way :shrug:
You may want to try to identify which mod does that exactly.

[2021-01-02 15:11] EliteWolfVR opened #78 "Something I really feel you need"
I want to have feature *X* in the mod.
- A list of compatible and incompatible mods.

Why do I think the feature *X* needs to be added (optional).
- Many people (including myself) have issues with figuring out what mods work with chiseled me, although, I'm not asking you to make this, I'm asking if you'd allow me to make a list for you, using as many popular forge mods possible in 1.12, and testin

[2021-01-02 15:19] necauqua commented on #78
Uh, ok, I allow, sure
Not like I can disallow, huh
I suggest you to go speak with some active people in the [discord](https://discord.necauqua.dev) for that, they want to do the same so you can help each other.

And well I want the mod to be more compatible - and the beta that is only awailable in discord so far is much better with that already, so make sure to consider that

Anyway I am closing t

[2021-01-02 15:19] #78 closed, assigned to necauqua

[2021-01-02 15:22] EliteWolfVR commented on #78
yea sorry, didnt think about asking in discord, I'm also really glad you let me because I've already started

[2021-01-02 15:22] EliteWolfVR commented on #78
yea sorry, didnt think about asking in discord, I'm also really glad you let me because I've already started

[2021-01-06 18:07] Sora-Canstavia opened #79 "[1.12.2] Rendering error with Crayfish Furniture Mod"
**Describe the bug**
A clear and concise description of what the bug is.
When you sit in a sittable object from the Mr Crayfish's Furniture Mod with Chiseled Me installed, a big white block appears around your character in said object, it's only visible while you're sitting there, making it a non-issue for singleplayer but a pretty glaring graphical error in multiplayer.

**To Reproduce**
Steps to

[2021-01-12 00:06] dragontuar opened #80 "when starting game crashes before loader starts sometimes one class or a few others depending on other mods status"
When I try to use this mod with about 125-ish mods the game crashes before even loading with sometimes a reach distance world transformer class error or several entity class errors

**Additional information:**
if required for the reach distance world transformer class error if I can get the error to pop up again (at the point I am at it would be very likely as I have been disabling and enabling mo

[2021-01-12 00:09] dragontuar commented on #80
nowhere is what I did as I thought that ore excavation was causing the reach class error was disable it then try but I shall reenable it and post the crash log

[2021-01-12 00:10] dragontuar commented on #80
MultiMC version: 0.6.11-1430

Minecraft folder is:
C:/Users/drago/Desktop/MultiMC/instances/chiseld me testing/.minecraft

Java path is:
C:/Program Files/Java/jre1.8.0_271/bin/javaw.exe

Java is version 1.8.0_271, using 64-bit architecture.

Main Class:
  net.minecraft.launchwrapper.Launch

Native path:
  C:/Users/drago/Desktop/MultiMC/instances/chiseld me testing/natives

Libraries:
  C:/Users/dr

[2021-01-12 06:57] LorenzoPapi commented on #80
You have quite a few mods, chiseled me is probably incompatible with some of those

[2021-01-12 15:27] necauqua commented on #80
Ok please use some king of pastebin (or githubs details tag) for such long walls of text.

This looks like some of the 125 mods use Mixin, and you use the curse release chiseled me version which has issues with Mixin mods - you should try the [discord](https://discord.necauqua.dev) beta, it has at least those Mixin issues fixed atm.

I am very familiar with this Mixin issue (I saw similar crashes

[2021-01-12 15:27] #80 closed, assigned to necauqua

[2021-01-16 15:04] EnderCreeper21 opened #81 "Mod just crashes by itself"
I load the mod, game crashes.
[crash-2021-01-16_09.03.47-client.txt](https://github.com/necauqua/chiseled-me/files/5824595/crash-2021-01-16_09.03.47-client.txt)

[2021-01-16 17:34] LorenzoPapi commented on #81
Update forge version

[2021-01-16 18:19] necauqua commented on #81
^ that, or use the discord beta which has this fixed anyway

[2021-01-16 18:19] #81 closed, assigned to necauqua

[2021-01-16 18:22] necauqua commented on #77
update;
Ok during the mixin rewrite I found out that my patch that changed draw distance was actually pretty weird - mc code uses squared distance comparison to avoid making expensive square root calculation for no reason, but I only scale that number by the entity size once, instead of two times, which makes no sense, and also a lot of entities override that method with their own copy so for them

[2021-01-16 18:26] necauqua commented on #73
Well this one is AstralSorcery, and it was long fixed in that discord beta

[2021-01-17 23:24] necauqua commented on #76
Given your mod list closing it as duplicate of #62.
If it crashes for you without the llibrary mod you are free to open a new issue.

[2021-01-17 23:24] #76 closed, assigned to necauqua

[2021-01-17 23:27] necauqua commented on #70
Ok I am actually going through issues in preparation for finally releasing that crazy good discord beta, and like, what did you expect from the mod that changes the player hitbox as well, huh

Still will try to fix it, actually not a lot of issues for 1.12 left

[2021-01-18 01:47] necauqua commented on #61
Fixed in discord beta btw

[2021-01-18 01:48] necauqua commented on #49
Completely fixed in discord beta btw

[2021-01-18 17:08] necauqua commented on #61
Nah discord beta closes like half of the issues there but they stay open until I push a commit (so for like a week more idk)

[2021-01-20 05:26] GithubBreen opened #82 "Server crash with Chiseled Me"
I'm using PloudOS (free hosting service) and when server is online, it immediately stops. At first I was using the mod with
Chisels & Bits and tested it out. Only Chiseled Me crashes the server.

Crash Report:
https://pastebin.com/q860r1bC

Server version: 1.12.2

[2021-01-20 09:48] LorenzoPapi commented on #82
1) to fix, update forge version
2) in the discord server there is a beta that fixes lots of crashes and errors

[2021-01-21 03:31] necauqua commented on #82
Known, fixed in non-beta by updating forge, just fixed in beta for any forge

[2021-01-21 03:31] #82 closed, assigned to necauqua

[2021-01-21 23:52] necauqua commented on #71
Closing as duplicate of #36, fixed in discord beta

[2021-01-21 23:52] #71 closed, assigned to nobody

[2021-01-21 23:54] necauqua commented on #30
Likely fixed in beta and no further input - closing this to clean up, feel free to open a new issue if, well, you have any issues

[2021-01-21 23:54] #30 closed, assigned to necauqua

[2021-01-21 23:57] necauqua commented on #27
Ok idk what kind of tools you were using, but digging tunnels while small is pretty slow.

I decided to leave things as is for now, maybe more complicated mechanics (e.g. breaking 2x2x2 of blocks when you're 2x the size) will be considered in the future

[2021-01-21 23:57] #27 closed, assigned to necauqua

[2021-01-21 23:57] necauqua commented on #27
Yes more than a year later, huh

[2021-01-21 23:59] necauqua commented on #39
A crazy ton of mod compat and other issues were resolved in latest discord beta, the mod successfully worked when added to the Project Ozone 3 modpack.
Closing this as stale issue with no further input, feel free to open a new one if you need to.

[2021-01-21 23:59] #39 closed, assigned to necauqua

[2021-01-22 00:02] necauqua commented on #18
Closing this issue as very-very stale, and a mod has changed a lot over this time, so feel free to reopen (or make a new one) it if needed

[2021-01-22 00:02] #18 closed, assigned to necauqua

[2021-01-22 00:04] necauqua commented on #22
While from that crashlog I suspect that it might actually still crash for you, I suggest you to try out the latest discord beta which is very different now.
Closing this as stale, feel free to reopen or make a new issue if you need to.

[2021-01-22 00:04] #22 closed, assigned to necauqua

[2021-01-22 00:07] necauqua commented on #11
Ok picking up players is definitely not something that will ever climb out of the bottom of the todo list given it has the lowest priority, so I am closing this and saying that this feature is very unlikely to ever be implemented.

Will try to at least do riding at some point.

[2021-01-22 00:07] #11 closed, assigned to nobody

[2021-01-22 00:08] necauqua commented on #16
A notice:
Optifine completely and fully works with the discord beta that soon will be publicly released hopefully.

[2021-01-22 00:19] necauqua commented on #7
I've decided that making new specific spawning mechanics is a non-goal of the mod.

The discord beta has gamerules (#14) that allow you to set default size to all entities and/or the player

[2021-01-22 00:19] #7 closed, assigned to nobody

[2021-01-22 00:20] necauqua commented on #14
"Second part" of the issue is done in the discord beta, there are gamerules now.
Will close this issue once the actual code is on GitHub finally.

[2021-01-22 00:26] necauqua commented on #3
In the ~~discord beta~~ my unreleased code that soon will be the latest discord beta, the `EntityAITarget` class (which is the base AI task that mobs use to target the player) has scaled distances, so if you are really small you need to stand closer to the mobs position than it's hitbox would allow you to, so this feature is effectively done.

And if you are just a little small, you will need to b

[2021-01-22 00:27] necauqua commented on #8
Superseeded by (your issue too btw) #10

[2021-01-22 00:27] #8 closed, assigned to nobody

[2021-01-22 00:29] necauqua commented on #8
Oh wait this was a bug, I thought that was a feature request - reach distance for entity interactions was fixed even in the latest actual release I think, and the beta should be even better than that.

[2021-01-22 00:31] necauqua commented on #6
Changing more vanilla hitboxes is yet another non-goal(the portal hack is already gone and maybe I should remove the bed one too), however I am (still) planning on making a small mod that will allow you to customize vanilla hitboxes with JSON, just like vanilla did with block models.

[2021-01-22 00:31] #6 closed, assigned to nobody

[2021-01-22 00:35] necauqua commented on #66
Ok this one is like **very** hard to fix, tried multiple times and never succeeded yet, but obviously this is a severe bug and I will keep trying.

[2021-01-22 00:38] necauqua commented on #46
Ok I actually have a really neat idea for allowing faster travel when being small, however it does not include creative-like flight, and likely nothing like this will be added, so I am closing this issue as part of my great GitHub issues cleanup.

[2021-01-22 00:38] #46 closed, assigned to necauqua

[2021-01-22 00:40] necauqua commented on #56
Well, cannot reproduce (and even failed to reproduce back then, you know), please retry with the latest discord beta, the mod has changed a lot

[2021-01-22 00:42] necauqua commented on #42
Something pretty similar to this is planned to be a replacement for a bunch of dumb items that the mod currently has, and well, in creative it will have a little bit more freedom I guess.

Closing this as part of GitHub issue cleanup process.

[2021-01-22 00:42] #42 closed, assigned to necauqua

[2021-01-22 00:47] necauqua commented on #5
As I've just said somewhere else, definitely no player/entity grabbing.
For gliding you can get at actual elytra, and there are plans to add one more neat way to move faster while being small.

Closing this as part of the big GitHub issues cleanup process.

[2021-01-22 00:47] #5 closed, assigned to nobody

[2021-01-22 00:49] necauqua commented on #35
Sounds kind of weird ngl. Anyway I will look into that (as I've already said some months ago)

[2021-01-23 02:12] necauqua commented on #77
update2:
I figured out - mc automatically adjusts max render distance based on entity aabb size, so it should've worked perfectly by itself.
That weird patch disables this adjustment for small mobs, so they don't visibly disappear when you walk two blocks away.

Why big mobs disappear at such a short distance though is still under investigation lol

[2021-01-23 08:59] LorenzoPapi commented on #56
Ok

[2021-01-23 20:13] necauqua commented on #62
This exact error is fixed in the current discord beta

[2021-01-24 23:42] necauqua commented on #70
Ok right now latest beta _mostly_ works nicely with the mod, zero camera issues (especially because I explicitly patched broken camera resize animation that happen with randompatches mod), sneaking and swimming (even when resized) work fine and crawling works fine on normal size, the only weird issues (at least your hitbox is the crawling little cube) arise when you are small and move in 1x1x1 hol

[2021-01-24 23:42] #70 closed, assigned to necauqua

[2021-01-25 00:20] necauqua commented on #60
No crash happens with those two mods in the latest beta (and a couple of dozens of others), implying accidental fix (a lot has changed since this issue was opened).
Feel free to open another issue if you encounter crashed with the new beta (which is finally soon to be released on curse).

[2021-01-25 00:20] #60 closed, assigned to necauqua

[2021-01-26 01:58] necauqua commented on #77
update3:
The issue was (quite obviously actually, I was just a bit dumb) server-size, the mob is getting completely unloaded on the client after certain distance, easily completely fixed in latest beta

[2021-01-26 17:25] LorenzoPapi commented on #56
it was fixed

[2021-01-26 17:25] #56 closed, assigned to necauqua

[2021-01-28 00:40] Alexandqr opened #83 "Real First Person 2's First Person Model Doesn't Scale with Your Size"
Hello, I'm back with another bug :D.
This is not necessarily a bug with this mod, or some kind of game breaking conflict with another mod. It's mainly a visual bug with Real First Person 2, where the body you see in first person mode doesn't actually scale with your player size.

To reproduce this behavior, just install both CM and RFP2 and change your size to anything that isn't 1, then look down

[2021-01-28 01:03] necauqua commented on #83
A bit of explanation for your assumptions:
I am changing the bytecode, so I can do whatever I want - and I wanted to put the scaling code around the model rendering, so _any_ model and literally anything the entity rendering code does gets scaled (for example I had to multiply guardian beam length by it's size because the beam is also getting scaled).

For it not to get scaled it must do some weir

[2021-01-28 01:05] necauqua commented on #83
Oh wait I got to notice what mod you were talking about - well they are rendering their model in first person - not where entity models are usually rendered (in terms of code), so that explains why it is not scaled.

But yeah I'll do the compat thing, shouldn't be hard.

[2021-01-28 23:23] necauqua commented on #83
Fixed in my local code that will be out (and maybe even released because current beta is very good) in like a week due to some circumstances

[2021-01-28 23:39] Alexandqr commented on #83
Sounds great, can't wait to try it once it's released :D

[2021-01-29 02:58] necauqua opened #84 "Relicensing"
Hey, I want to change the license from Apache 2.0 (the current one) to MIT (which it should've been from the beginning anyway) and this means that I need explicit agreement from the contributors, who are apparently equal owners of this software.

Technically I am the only owner of the repo with write access, but all the contributors still 'own' this exact piece of software (so I can't, say, sell i

[2021-01-29 03:15] vectorassembly commented on #84
I agree to change the license of this project from Apache 2.0 to MIT.

[2021-01-29 03:49] SonicJDF commented on #84
I agree to agree

[2021-01-29 07:07] LorenzoPapi commented on #84
I agree to agree to the agreement

[2021-01-29 09:19] Vexatos commented on #84
Naturally, I agree to changing the license.

[2021-01-30 17:26] 3TUSK commented on #84
I agree to change the license of this project from Apache 2.0 to MIT.

[2021-01-31 12:21] necauqua commented on #84
Perfect, I'll make a commit soon and close this issue, thanks to all of you.

Well you are on the list of contributors, your PR does not exist anymore (because I made a new github account back in the day when username changes were not added and re-pushed my repo here), but the commit and merge are here - see 481d0c5. Holy  heck it's 5 years old actually :)

[2021-01-31 21:56] necauqua commented on #83
Well due to me trying to fix some omegaweird issues on discord the latest discord pinned beta also contains this fix, enjoy :)

[2021-01-31 21:57] necauqua commented on #83
To clarify I expected to make an actual release with this fix and have no more betas, but oh well

[2021-02-03 16:13] Alexandqr commented on #83
Ok I found out something new, and I'm pretty sure it's still related to this issue.
So I got my hands on the newest beta to try it out, and of course, I'm using a ton of different mods along with it. Whenever I try to start it up with RFP2, it just crashes, and it might be related to the fix you added creating more conflicts with some different mods. (Without RFP2, it runs fine, and it also runs f

[2021-02-03 17:34] necauqua commented on #83
Really dumb mistake lol, fixed

[2021-02-03 18:23] necauqua commented on #79
Fixed in ede2651

[2021-02-03 18:23] #79 closed, assigned to necauqua

[2021-02-03 18:23] necauqua commented on #83
Fixed in ede2651

[2021-02-03 18:23] #83 closed, assigned to necauqua

[2021-02-03 18:24] necauqua commented on #77
Fixed in ede2651

[2021-02-03 18:24] #77 closed, assigned to necauqua

[2021-02-03 18:24] necauqua commented on #75
Fixed in ede2651

[2021-02-03 18:24] #75 closed, assigned to necauqua

[2021-02-03 18:24] necauqua commented on #74
Fixed in ede2651

[2021-02-03 18:24] #74 closed, assigned to nobody

[2021-02-03 18:24] necauqua commented on #29
Fixed in ede2651

[2021-02-03 18:24] #29 closed, assigned to necauqua

[2021-02-03 18:24] necauqua commented on #14
Fixed in ede2651

[2021-02-03 18:24] #14 closed, assigned to necauqua

[2021-02-03 18:24] necauqua commented on #61
Fixed in ede2651

[2021-02-03 18:24] #61 closed, assigned to necauqua

[2021-02-03 18:24] necauqua commented on #49
Fixed in ede2651

[2021-02-03 18:24] #49 closed, assigned to necauqua

[2021-02-03 18:25] necauqua commented on #62
Fixed in ede2651

[2021-02-03 18:25] #62 closed, assigned to necauqua

[2021-02-03 18:25] necauqua commented on #16
Fixed in ede2651

[2021-02-03 18:25] #16 closed, assigned to necauqua

[2021-02-03 18:25] necauqua commented on #73
Fixed in ede2651

[2021-02-03 18:25] #73 closed, assigned to necauqua

[2021-02-03 18:25] necauqua commented on #66
Fixed in ede2651

[2021-02-03 18:25] #66 closed, assigned to necauqua

[2021-02-03 18:25] necauqua commented on #3
Fixed in ede2651

[2021-02-03 18:25] #3 closed, assigned to necauqua

[2021-02-03 18:25] necauqua commented on #36
Fixed in ede2651

[2021-02-03 18:25] #36 closed, assigned to necauqua

[2021-02-03 18:26] necauqua commented on #67
Fixed in ede2651

[2021-02-03 18:26] #67 closed, assigned to necauqua

[2021-02-03 18:26] necauqua commented on #20
Fixed in ede2651

[2021-02-03 18:26] #20 closed, assigned to necauqua

[2021-02-03 18:35] #84 closed, assigned to necauqua

[2021-02-04 18:06] Alexandqr opened #86 "Combat Reach Doesn't Scale with Size (Better Combat Rebirth & Other Combat Reach Mods)"
Here I am again, hi.
This is a bug with the Better Combat Rebirth mod, where your reach (against entities only) doesn't get shorter at smaller scales. Also, the features of BCR don't actually trigger when reaching mobs farther than you normally would at normal size. Basically, the reach BCR uses doesn't scale as it should. A similar problem also occurs with the mod Potion Core, where your reach ag

[2021-02-05 02:29] Aether-254 opened #87 "Where is the integration package or jar file?"
Where is the _integration package_ or _jar file_?
I can't find the _jar file_, and I don't know the _integration package_ at where.

[2021-02-05 14:04] necauqua commented on #87
What?

Well there are jar files [here](https://www.curseforge.com/minecraft/mc-mods/chiseled-me/files) and [here](https://github.com/necauqua/chiseled-me/releases).
If you want the beta that was built from the last commit, it is in the discord server, [here](https://discord.com/invite/pZrbJNb)

[2021-02-05 14:13] necauqua commented on #86
It is their bug, because they just [hardcoded](https://github.com/SanAndreasP/BetterCombatRebirth/blob/master/src/main/java/bettercombat/mod/client/handler/EventHandlersClient.java#L85) the reach distance (btw wtf is this "longerAttack" config anyway, lol), instead of using the (vanilla!) reach attribute (e.g. `player.getEntityAttribute(EntityPlayer.REACH_DISTANCE).getAttributeValue()` instead of

[2021-02-05 14:13] #86 closed, assigned to necauqua

[2021-02-06 04:00] Aether-254 commented on #87
Ok, Thank you

[2021-02-06 04:00] #87 closed, assigned to necauqua

[2021-02-07 08:11] #65 closed, assigned to necauqua

[2021-02-07 08:13] necauqua commented on #65
Was a crude fix for their weird custom hitbox stuff, but then I went full ~re..~ ocd and also fixed shadows, name height and gui rendering.

Note that big CustomNPC entites will often not be rendered - but this is a weird CustomNPC bug (happens to size 1 entities too) that I have no idea how to fix nor I really want to.

[2021-02-07 10:37] #41 closed, assigned to necauqua

[2021-02-07 10:38] necauqua commented on #41
Pfew, while they made not the best development decisions while making their mod, this was marginably easier than #65

And yeah the mod itself is cool, but not its code lol

[2021-02-08 07:14] #35 closed, assigned to necauqua

[2021-02-08 07:15] necauqua commented on #35
Ok I fixed how they update hitbox, since vanilla entities were affected too I never tested it with mod entities, but unless they do something dumb that I am not fixing anyway, everything should be fine now

[2021-02-10 12:32] wwe83 opened #92 "I placed the mod into the minecraft/mods/ and then I just started minecraft, it crashed on me and it's saying : "An unexpected issue occured the game has crashed. We're sorry for the inconvenience""
When I try to use this mod with mod *X* (and/or by doing some set of actions), the game crashes.

If you know exactly with what mod *X* this mod crashed, please check that it was not already reported.

**Additional information:**
- crashlog file or gist: *required*
- `minecraft_profile_folder/logs/debug.log` file: *providing this is highly recommended*

**PLEASE REFRAIN FROM POSTING GIANT WALLS OF

[2021-02-10 12:43] necauqua commented on #92
Make sure you are using Minecraft 1.12.2, latest Forge, there are no other mods.
If there are other mods - list them, or at least just send that `.minecraft/logs/debug.log` file like the issue template that you didn't even read suggested you to do.

I cannot predict what you did wrong without you telling me what you did (or at least sending the log which is like an incomplete recording of what you

[2021-02-11 07:38] necauqua commented on #43
Ok while latest mixin version has no hitbox issues, the gravity simply does not work (the camera is rotated and thats it).

This is due to 1.12 Forge+Mixin limitations not allowing udaa coremod to work, nothing I can do about that.

So yeah wontfix I guess, should work (or at least no fail as completely until I fix it) if both mods get updated to 1.13+ at some point.

[2021-02-11 07:38] #43 closed, assigned to necauqua

[2021-02-13 15:33] wwwlde commented on #92
Hello, @necauqua !

Here is debug log for this issue. Same error occurs with latest build.

[code]

[2021-02-13 15:42] necauqua commented on #92
This error cannot physically occur in the latest build, because the latest build is the beta from Discord, version `1.12-3.0.0.0-git-3af10ac`).
The code no longer throws such errors, so please try again by using said beta, the curse release is >1 years old and contains several severe mod compat issues causing it to crash with a lot of mods. They all (well, known ones) are fixed in that beta.

And

[2021-02-13 18:38] wwwlde commented on #92
Hi, @necauqua!

Oh sorry for misunderstanding! By the latest build i mean version `2.0.0.1`. Can you please provide link to `1.12-3.0.0.0-git-3af10ac`?

Thanks in advance!

Here is crash log for version 2.0.0.1:

[code]

[2021-02-13 18:42] GiantLuigi4 commented on #92
link to 1.12-3.0.0.0-git-3af10ac: https://cdn.discordapp.com/attachments/708757460890026086/806578264238719066/chiseled-me-1.12-3.0.0.0-git-3af10ac.jar

[2021-02-13 20:02] wwwlde commented on #92
Thanks!

[2021-02-15 00:11] necauqua commented on #10
Closed by e68acb5

[2021-02-15 00:11] #10 closed, assigned to nobody

[2021-02-16 23:09] Shibva opened #93 "Specific sounds breaking and unable to play discs when present"
**Describe the bug**
after having narrowed things down, I have found that this mod seems to be responsible in me not being able to play music discs and to further add to this, I believe this mod is also preventing some sound events happening (ex: Blaze shooting SFX dosent play yet can be played via command)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new world
2. place a jukebox

[2021-02-16 23:11] Shibva commented on #93
![image](https://user-images.githubusercontent.com/38770780/108133325-60619780-7082-11eb-9270-b42a86675db6.png)
here is some other ones that dint get uploaded for some reason

[2021-02-16 23:36] Shibva commented on #93
and heres the configs for the pack, You will need them
[use me.zip](https://github.com/necauqua/chiseled-me/files/5992272/use.me.zip)

[2021-02-16 23:55] necauqua commented on #93
Do you seriously expect me to download 257+12 mods one by one to test this?
It does not happen with just my mod.
If you 'narrowed things down' you should've given the _minimal_ list of mods that this happens with.

I kind of know why this may happen, but this is still some kind of really weird mod interaction and having a couple of mods this happens with instead of an enormous modpack would be fea

[2021-02-16 23:57] Shibva commented on #93
if you can provide me wht mods you think might have this strange interaction, I could remove them on my end to check

but yeah, I can give it a shot

[2021-02-16 23:58] necauqua commented on #93
Actually good for you I am 99% certain I found what caused this lol
I will upload a possibly fixed beta to discord so you can check

[2021-02-17 18:40] #93 closed, assigned to necauqua

[2021-03-04 06:14] melony202 opened #94 "mod problem 1.12.2"
hey so basically this is the same issue like the other guys who does this issue so basically i use forgeoptifine and when i start the game with the mod it crashes idk why here is the crash report
flush now
[Loading] INITIALIZING
Starting TLauncher 2.75 RELEASE
For more information, visit https://tlauncher.org/
Startup time: Mar 4, 2021 1:00:05 PM
---
run double running protection
[Loading] LOADING

[2021-03-04 10:55] necauqua commented on #94
Wow, thats a huge wall of text.

Use the alpha version, the release crashes with optifine

[2021-03-04 10:55] #94 closed, assigned to necauqua

[2021-03-09 15:26] somedudeonline opened #95 "player camera not working properly"
**Describe the bug**
camera height not changing with playermodel as i resize myself

**To Reproduce**
Steps to reproduce the behavior:
1. Go to minecraft
2. Use use any matter volume recalibrator
3. the speed and actual player size do change but the camera stays in place as if i were the same size

**Expected behavior**
expect the camera to change with the player size when using the matter volume

[2021-03-09 18:35] necauqua commented on #95
Caused by galacticraft ~~being stupid~~, fixed in the curse alpha (you are using the curse release version).

[2021-03-09 18:35] #95 closed, assigned to necauqua

[2021-03-10 12:51] somedudeonline opened #96 "game crashes with new alpha"
i just posted another issue where the cam wasn't working right with galacticraft and i was told that the new alpha fixes this issue, but when using, it crashes the game upon startup

https://pastebin.com/vkdZCgpG

[2021-03-10 22:28] necauqua commented on #96
Well at least this time it's not galacricraft :shrug:, just happened that you also get this one.

Try to update Forge, beause this is a dumb crash that arises because Forge thinks that a thing that chiseled me uses is not registered (while it should be) despite the fact that I am **clearly and correctly registering it in the code, wtf**.

If this does not work, here is another weird workaround tha

[2021-03-11 17:11] somedudeonline commented on #96
neither of them worn, i tried the second one, and im already using the latest version of forge for the 1.12.2

[2021-03-11 18:52] necauqua commented on #96
Oof, well I will test with your mod setup, but as I've said this literally should not happen yet it sometimes happens so idk :shrug:
The alpha worked for people with 250+ sized modpacks, eh

[2021-03-11 18:53] necauqua commented on #96
For now I guess you remove either of the two mods, and even if you remove iron chest this still may happen due to how random it is

[2021-03-14 11:19] PatjrAstra opened #97 "Error <No Optifine>"
When I try to use this mod with mod Chisel and bits, the game crashes.

If you know exactly with what mod this mod crashed, please check that it was not already reported.

<Crash Log Down Below> Forge version 1.12.2-forge-14.23.5.2855

https://pastebin.pl/view/e25c75cb

[2021-03-14 11:31] PatjrAstra commented on #97
I think it works now from discord beta thx <3

[2021-03-14 11:31] #97 closed, assigned to necauqua

[2021-03-14 20:12] Christopher-Clapp opened #98 "Corpse mod entity resize"
Hello,
I would love to see Chiseledme work with Corpse in a way that whatever size the player is that dies, the corpse entity that is left behind is whatever the player size is.

I think this would be a good inclusion for Chiseledme because if people are looking to add it to a modpack it adds a better sense of realism to their pack.

[2021-03-23 17:04] Vararg97 opened #99 "Crashes due to "java.lang.NoClassDefFoundError: net/minecraft/client/renderer/EntityRenderer""
When I try to use this mod with mods chisel and bits and morph mod, the game crashes.

"java.lang.NoClassDefFoundError: net/minecraft/client/renderer/EntityRenderer" is the error message and the exit code is 255. I've tried using a few different versions off of the curseforge page.

[2021-03-23 17:14] Vararg97 commented on #99
If anyone needs it here is the crash log file and the game output.

Crash Log File:

[crash-2021-03-23_10.01.44-client.txt](https://github.com/necauqua/chiseled-me/files/6191555/crash-2021-03-23_10.01.44-client.txt)

Game Output:

`10:01:44.048
States: 'U' = Unloaded 'L' = Loaded 'C' = Constructed 'H' = Pre-initialized 'I' = Initialized 'J' = Post-initialized 'A' = Available 'D' = Disabled 'E' = E

[2021-03-23 17:16] necauqua commented on #99
The crashlog is from the old curse release, you sounded like you've tried the alpha (which should have like _a lot_ of stuff fixed, and notably compat with those two mods) did it not work too?

[2021-03-23 17:18] Vararg97 commented on #99
I haven't tried past 2.0.0.1 because I honestly forgot the alpha/beta list was there. I'll try it.

[2021-03-23 17:20] necauqua commented on #99
Yeah there is like just a couple of things missing for that alpha to become a true 3.0.0.0 release, and curse is weird with how it displays alphas eh

[2021-03-23 17:22] Vararg97 commented on #99
Thanks a lot, that really got me stuck and also thanks for replying so fast. I usually shy away from posting on forums, cause I have bad memories.... Anyways thanks again.

[2021-03-23 17:22] #99 closed, assigned to necauqua

[2021-03-23 17:24] necauqua commented on #99
Accident, I was just on github just in that moment
There are a ton of nice people in discord who know all the basic issues, next time you can ask there :)

[2021-04-07 21:05] poipole2010 opened #102 "i use this mod and crashes with exit code 0"
When I try to use this mod with the mods :*pixelmon,JEI,biomes o plenty,chisels and bits and the little titles (all from 1.12.2)* (and/or by doing some set of actions), the game crashes.
[debug.log](https://github.com/necauqua/chiseled-me/files/6274505/debug.log)

[2021-04-13 13:15] Ohri1234 opened #103 "Minecraft crash while starting"
When I try to use this mod minecraft doesn't start.

Log-file:

[debug.log](https://github.com/necauqua/chiseled-me/files/6303957/debug.log)

[2021-04-13 15:07] Nomaxice commented on #103
You are using an outdated version of Chiseled Me, update to the "alpha" version 3.0.0.0-git* available on Curse.

[2021-05-02 20:36] ghost opened #104 "Issue closed"

[2021-05-03 05:14] #104 closed, assigned to necauqua

[2021-05-05 11:51] necauqua commented on #104
I mean, if you solved your issue or even if you just had it because of some dumb reason or whatever then you can just close it without editing out title/description :shrug:

Especially given that the history is there anyway

[2021-05-13 14:24] HolyAraHippo opened #105 "Minecraft Crashes in my Modpack when I try to start it with exit code 0"
I am working on a Minecraft Modpack for My future Server and I am having trouble with the Chiseled me Mod, I tried Various versions of the Mod and Forge, I also deleted ironchests in the mods folder but it keeps crashing

I hope there's a way to fix it

thanks in advance

newest debug.log:

[debug.log](https://github.com/necauqua/chiseled-me/files/6473023/debug.log)

[2021-05-13 16:36] necauqua commented on #105
Uh, it's another one of these.

So this exact crash is known, but I have absolutely zero idea why it happens:
Forge complains that a thing that I register is not registered while, I mean, I do register it, in code, properly, what else to tell it :shrug:

Try to update Forge, but usually this is caused by some other random mod somehow (at one point I remember it was Forestry, but then the next fore

[2021-05-13 16:40] HolyAraHippo commented on #105
Hey, thanks for your answer, And I figured out, why it was crashing the whole time, it seems like, that it isn't compatible with LagGoggles and/or tickCentral

(I have no Idea what those mods do, so I deleted them, and now it works just fine ^^)

maybe this information will help you to fix it some day :)

[2021-05-13 19:57] necauqua commented on #105
Yeah this would help, ty

[2021-05-29 09:34] Xodabeef opened #106 "Crashing the game- -1 -redering issue or somewhat"
an i solve it with installing an older version of the mod?

[2021-05-29 12:10] necauqua commented on #106
You click on the 'new issue' on this site, then you click on a 'crash report' and then you _stop for a moment and read the text that is in the message field instead of no-brain deleting it_

[2021-06-17 00:45] gatoborrachon opened #107 "[Issue] crash with Valkyrien Skies"
When I try to use this mod with mod *[Valkyrien Skies](https://www.curseforge.com/minecraft/mc-mods/valkyrien-skies) (and its 2 modules: [VS-World](https://www.curseforge.com/minecraft/mc-mods/valkyrien-skies-world) and [VS-Control](https://www.curseforge.com/minecraft/mc-mods/valkyrien-skies-control))* and i try to load a new/existing world, the game crashes.

this is the same behavior that [this

[2021-06-17 00:56] gatoborrachon commented on #107
I also want to add that when i tried Chiseled Me in a custom modpack, i got this crash report instead: (more related to Thaumcraft): https://pastebin.com/NWw1FSf1
(Same crash with only Chiseled Me, Valkyrien Skies and Thaumcraft: https://pastebin.com/hfdHvze7)

if you manage to fix this issue (only between Chiseled Me and Valkryen Skies) i will try to load Thaumcraft and see if that issue is fixed

[2021-06-17 12:26] necauqua commented on #107
Yeah I see that CM and VS are actually incompatible - they try to modify the same thing and that's an incompatibility.
I'll look into it once I'm back on working on cm (around mid summer), but the priority is 1.16 so I can't promise this will ever get fixed.

[2021-06-17 13:32] gatoborrachon commented on #107
oh, sad to hear that, but no problem, i hope it is "easy" to fix, many thanks (i know that it never is)

take the necessary time, no problem

[2021-06-17 14:09] necauqua commented on #107
This one is one of those that should be actually easy to fix, yes. But ofc should be and will be are different things :)

[2021-09-06 09:29] Kingdemonic666 opened #108 "Innacurate hitboxes and performance issues when used alongside Metamorph."
The problem is present in the current version of the mod (chiseled-me-1.12-3.0.0.0-git-7c6a1ba)
The hitbox size for Metamorph transformations is increased in a way that it is always bigger than it should.
At sizes 8 or 16 the hitbox becomes big enough to cause a remarkable amount of lag.
In a previous revision (chiseled-me-1.12-3.0.0.0-git-3af10ac) where Metamorph hitboxes didn't increase/decrease

[2021-09-06 17:22] necauqua commented on #108
acknowledged

[2021-09-19 16:53] necauqua commented on #106
closing because no info

[2021-09-19 16:53] #106 closed, assigned to necauqua

[2021-09-19 16:54] necauqua commented on #92
closing because no info and likely reporter has no issues after upgrading to git version

[2021-09-19 16:54] #92 closed, assigned to necauqua

[2021-09-19 16:57] necauqua commented on #103
no info and likely reporter fixed his issue by upgrading to the git version

[2021-09-19 16:57] #103 closed, assigned to necauqua